<div class="notification-timeline">
  <div class="timeline-block clearfix">
    <div class="timeline-point success">
      <i class="material-icons">place</i>
    </div>
    <div class="timeline-content">
      <div class="timeline-cart">
        <div class="cart-header clearfix">
          <div class="cart-img">
            <img src="assets/img/team-img.png"/>
          </div>
          <h5 class="cart-name">Jeff Curtis</h5>
          <span class="cart-place"></span>
        </div>
        <div class="cart-description">
          <p>
            What you think, you become. What you feel, you attract. What you imagine, you create - Buddha. #quote
          </p>
        </div>
        <div class="cart-footer">
          <div class="cart-reaction">
            <div class="reaction-wrapper reaction-like">
              <button type="button" class="reaction-item"><i class="material-icons">favorite</i></button>
              <span>34</span>
            </div>
            <div class="reaction-wrapper reaction-dislike">
              <button type="button" class="reaction-item"><i class="material-icons">favorite_border</i></button>
              <span>11</span>
            </div>
            <div class="reaction-wrapper reaction-share">
              <button type="button" class="reaction-item"><i class="material-icons">arrow_forward</i></button>
              <span>125</span>
            </div>
            <div class="reaction-wrapper reaction-toggle">
              <span>+</span>
              <button type="button" class="reaction-item reaction-item-toggle"><i class="material-icons">mood</i>
              </button>
              <div class="add-reaction-wrapper">
                <button type="button" class="reaction-item"><i class="material-icons">favorite</i></button>
                <button type="button" class="reaction-item"><i class="material-icons">favorite_border</i></button>
                <button type="button" class="reaction-item"><i class="material-icons">arrow_forward</i></button>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="timeline-date">
        <h6>Apple Inc</h6>
        <span>15 January 2015, 06:50 PM</span>
      </div>
    </div>
  </div>
  <div class="timeline-block clearfix">
    <div class="timeline-point small"></div>
    <div class="timeline-content">
      <div class="timeline-cart">
        <div class="cart-header clearfix">
          <div class="cart-img">
            <img src="assets/img/team-img.png"/>
          </div>
          <h5 class="cart-name">Jeff Curtis</h5>
          <span class="cart-place"></span>
        </div>
        <div class="cart-description">
          <p>
            What you think, you become. What you feel, you attract. What you imagine, you create - Buddha. #quote
          </p>
        </div>
        <div class="cart-footer">
          <div class="cart-reaction">
            <div class="reaction-wrapper reaction-like">
              <button type="button" class="reaction-item"><i class="material-icons">favorite</i></button>
              <span>34</span>
            </div>
            <div class="reaction-wrapper reaction-dislike">
              <button type="button" class="reaction-item"><i class="material-icons">favorite_border</i></button>
              <span>11</span>
            </div>
            <div class="reaction-wrapper reaction-share">
              <button type="button" class="reaction-item"><i class="material-icons">arrow_forward</i></button>
              <span>125</span>
            </div>
            <div class="reaction-wrapper reaction-toggle">
              <span>+</span>
              <button type="button" class="reaction-item reaction-item-toggle"><i class="material-icons">mood</i></button>
              <div class="add-reaction-wrapper">
                <button type="button" class="reaction-item"><i class="material-icons">favorite</i></button>
                <button type="button" class="reaction-item"><i class="material-icons">favorite_border</i></button>
                <button type="button" class="reaction-item"><i class="material-icons">arrow_forward</i></button>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="timeline-date">
        <h6>Apple Inc</h6>
      </div>
    </div>
  </div>
  <div class="timeline-block clearfix">
    <div class="timeline-point small"></div>
    <div class="timeline-content">
      <div class="timeline-cart">
        <div class="cart-header clearfix">
          <div class="cart-img">
            <img src="assets/img/team-img.png"/>
          </div>
          <h5 class="cart-name">Jeff Curtis</h5>
          <span class="cart-place"></span>
        </div>
        <div class="cart-description">
          <p>
            What you think, you become. What you feel, you attract. What you imagine, you create - Buddha. #quote
          </p>
        </div>
        <div class="cart-footer">
          <div class="cart-reaction">
            <div class="reaction-wrapper reaction-like">
              <button type="button" class="reaction-item"><i class="material-icons">favorite</i></button>
              <span>34</span>
            </div>
            <div class="reaction-wrapper reaction-dislike">
              <button type="button" class="reaction-item"><i class="material-icons">favorite_border</i></button>
              <span>11</span>
            </div>
            <div class="reaction-wrapper reaction-share">
              <button type="button" class="reaction-item"><i class="material-icons">arrow_forward</i></button>
              <span>125</span>
            </div>
            <div class="reaction-wrapper reaction-toggle">
              <span>+</span>
              <button type="button" class="reaction-item reaction-item-toggle"><i class="material-icons">mood</i>
              </button>
              <div class="add-reaction-wrapper">
                <button type="button" class="reaction-item"><i class="material-icons">favorite</i></button>
                <button type="button" class="reaction-item"><i class="material-icons">favorite_border</i></button>
                <button type="button" class="reaction-item"><i class="material-icons">arrow_forward</i></button>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="timeline-date">
        <h6>Apple Inc</h6>
        <span>15 January 2015, 06:50 PM</span>
      </div>
    </div>
  </div>
  <div class="timeline-block clearfix">
    <div class="timeline-point message">
      <i class="material-icons">message</i>
    </div>
    <div class="timeline-content">
      <div class="timeline-cart">
        <div class="cart-header clearfix">
          <div class="cart-img">
            <img src="assets/img/team-img.png"/>
          </div>
          <h5 class="cart-name">Jeff Curtis</h5>
          <span class="cart-place"></span>
        </div>
        <div class="cart-description">
          <p>
            What you think, you become. What you feel, you attract. What you imagine, you create - Buddha. #quote
          </p>
        </div>
        <div class="cart-content">
          <div class="cart-img-wrapper">
            <img src="assets/img/img-11.jpg"/>
            <div class="cart-img-description">
              <h6>Unum est sine dolore esse</h6>
            </div>
          </div>
        </div>
        <div class="cart-footer">
          <div class="cart-reaction">
            <div class="reaction-wrapper reaction-like">
              <button type="button" class="reaction-item"><i class="material-icons">favorite</i></button>
              <span>34</span>
            </div>
            <div class="reaction-wrapper reaction-dislike">
              <button type="button" class="reaction-item"><i class="material-icons">favorite_border</i></button>
              <span>11</span>
            </div>
            <div class="reaction-wrapper reaction-share">
              <button type="button" class="reaction-item"><i class="material-icons">arrow_forward</i></button>
              <span>125</span>
            </div>
            <div class="reaction-wrapper reaction-toggle">
              <span>+</span>
              <button type="button" class="reaction-item reaction-item-toggle"><i class="material-icons">mood</i>
              </button>
              <div class="add-reaction-wrapper">
                <button type="button" class="reaction-item"><i class="material-icons">favorite</i></button>
                <button type="button" class="reaction-item"><i class="material-icons">favorite_border</i></button>
                <button type="button" class="reaction-item"><i class="material-icons">arrow_forward</i></button>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="timeline-date">
        <span>15 January 2015, 06:50 PM</span>
      </div>
    </div>
  </div>
  <div class="timeline-block clearfix">
    <div class="timeline-point small"></div>
    <div class="timeline-content">
      <div class="timeline-cart">
        <div class="cart-header clearfix">
          <div class="cart-img">
            <img src="assets/img/team-img.png"/>
          </div>
          <h5 class="cart-name">Jeff Curtis</h5>
          <span class="cart-place"></span>
        </div>
        <div class="cart-description">
          <p>
            What you think, you become. What you feel, you attract. What you imagine, you create - Buddha. #quote
          </p>
        </div>
        <div class="cart-footer">
          <div class="cart-reaction">
            <div class="reaction-wrapper reaction-like">
              <button type="button" class="reaction-item"><i class="material-icons">favorite</i></button>
              <span>34</span>
            </div>
            <div class="reaction-wrapper reaction-dislike">
              <button type="button" class="reaction-item"><i class="material-icons">favorite_border</i></button>
              <span>11</span>
            </div>
            <div class="reaction-wrapper reaction-share">
              <button type="button" class="reaction-item"><i class="material-icons">arrow_forward</i></button>
              <span>125</span>
            </div>
            <div class="reaction-wrapper reaction-toggle">
              <span>+</span>
              <button type="button" class="reaction-item reaction-item-toggle"><i class="material-icons">mood</i>
              </button>
              <div class="add-reaction-wrapper">
                <button type="button" class="reaction-item"><i class="material-icons">favorite</i></button>
                <button type="button" class="reaction-item"><i class="material-icons">favorite_border</i></button>
                <button type="button" class="reaction-item"><i class="material-icons">arrow_forward</i></button>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="timeline-date">
        <h6>Apple Inc</h6>
        <span>15 January 2015, 06:50 PM</span>
      </div>
    </div>
  </div>
  <div class="timeline-block clearfix">
    <div class="timeline-point small"></div>
    <div class="timeline-content">
      <div class="timeline-cart">
        <div class="cart-header clearfix">
          <div class="cart-img">
            <img src="assets/img/team-img.png"/>
          </div>
          <h5 class="cart-name">Jeff Curtis</h5>
          <span class="cart-place"></span>
        </div>
        <div class="cart-description">
          <p>
            What you think, you become. What you feel, you attract. What you imagine, you create - Buddha. #quote
          </p>
        </div>
        <div class="cart-footer">
          <div class="cart-reaction">
            <div class="reaction-wrapper reaction-like">
              <button type="button" class="reaction-item"><i class="material-icons">favorite</i></button>
              <span>34</span>
            </div>
            <div class="reaction-wrapper reaction-dislike">
              <button type="button" class="reaction-item"><i class="material-icons">favorite_border</i></button>
              <span>11</span>
            </div>
            <div class="reaction-wrapper reaction-share">
              <button type="button" class="reaction-item"><i class="material-icons">arrow_forward</i></button>
              <span>125</span>
            </div>
            <div class="reaction-wrapper reaction-toggle">
              <span>+</span>
              <button type="button" class="reaction-item reaction-item-toggle"><i class="material-icons">mood</i>
              </button>
              <div class="add-reaction-wrapper">
                <button type="button" class="reaction-item"><i class="material-icons">favorite</i></button>
                <button type="button" class="reaction-item"><i class="material-icons">favorite_border</i></button>
                <button type="button" class="reaction-item"><i class="material-icons">arrow_forward</i></button>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="timeline-date">
        <h6>Apple Inc</h6>
        <span>15 January 2015, 06:50 PM</span>
      </div>
    </div>
  </div>
</div>
