<h2 class="inner-title ">Information</h2>
<div class="inner-content">
  <p class="inner-description">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
  </p>
  <p class="inner-description">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
  </p>
  <ul class="websites-list">
    <li><i _ngcontent-c13="" class="material-icons">public</i><a href="#">kharkivmarathon.com</a></li>
  </ul>
</div>
