
  <mz-card
    [backgroundClass]="'blue-grey darken-1'"
    [textClass]="'white-text'">
    <mz-card-title>
      Lesson Title
    </mz-card-title>
    <mz-card-content>
      I am a very simple card. I am good at containing small bits of information. I am convenient because I require
      little markup to use effectively.
    </mz-card-content>
    <mz-card-action>
      <a href="#" [routerLink]="['/lessons/lesson']">Link to lesson</a>
    </mz-card-action>
  </mz-card>
  <mz-card
    [backgroundClass]="'blue-grey darken-1'"
    [textClass]="'white-text'">
    <mz-card-title>
      Card Title
    </mz-card-title>
    <mz-card-content>
      I am a very simple card. I am good at containing small bits of information. I am convenient because I require
      little markup to use effectively.
    </mz-card-content>
    <mz-card-action>
      <a href="#">This is a link</a>
      <a href="#">This is a link</a>
    </mz-card-action>
  </mz-card>
  <mz-card
    [backgroundClass]="'blue-grey darken-1'"
    [textClass]="'white-text'">
    <mz-card-title>
      Card Title
    </mz-card-title>
    <mz-card-content>
      I am a very simple card. I am good at containing small bits of information. I am convenient because I require
      little markup to use effectively.
    </mz-card-content>
    <mz-card-action>
      <a href="#">This is a link</a>
      <a href="#">This is a link</a>
    </mz-card-action>
  </mz-card>
