<div class="user-wrapper">
  <div class="user-main-bg-wrapper">
    <img class="user-main-bg" *ngIf="userBg?.img" src="{{userBg?.img}}"/>
    <img class="user-main-bg" *ngIf="!userBg?.img" src="assets/img/cover.jpg"/>
  </div>
  <div class="user-content">
    <div class="user-header">
      <div class="user-img-wrapper">
        <div class="user-img-inner">
          <img class="user-img" src="assets/img/img-person.png"/>
        </div>
      </div>
      <div class="user-container">
        <h4 class="user-name">{{userLocal?.firstName}} {{userLocal?.lastName}}</h4>
        <div class="user-info">
          <span class="user-date">
          <i class="material-icons">today</i>
            {{userLocal?.birthdayDay}}.{{userLocal?.birthdayMonth}}.{{userLocal?.birthdayYear}}
          </span>
          <span class="user-city">
           <i class="material-icons">place</i>
            {{userLocal?.country}} <span *ngIf="userLocal?.country">,</span> {{userLocal?.city}}
          </span>
          <button type="button" class="flex-pull-right" mz-button [routerLink]="['/user/update']">Info update</button>
          <button type="button" class="flex-pull-right button-color margin-left" mz-button (click)="openDialog()">
            <i class="material-icons">wallpaper</i>
          </button>
        </div>
        <div class="user-skills">
          <ul class="user-skills-list">
            <li *ngFor="let skill of userLocal?.sportSkill">
              <button type="button">
                <img src="{{getSkillInfoById(skill)?.icon}}"/>
                {{getSkillInfoById(skill)?.name}}
              </button>
            </li>
          </ul>
        </div>

      </div>
      <div class="profile-info-wrapper">
        <button type="button" class="profile-info-item" [routerLink]="['/user/chat']">
          <span class="profile-info-number">
            08
          </span>
          <span class="profile-info-name">
            Chats
          </span>
        </button>
        <button type="button" class="profile-info-item" [routerLink]="['/user/friends']">
          <span class="profile-info-number">
            11
          </span>
          <span class="profile-info-name">
            Friends
          </span>
        </button>
        <button type="button" class="profile-info-item" [routerLink]="['/user/places']">
          <span class="profile-info-number">
            23
          </span>
          <span class="profile-info-name">
            Places
          </span>
        </button>
        <button type="button" class="profile-info-item" [routerLink]="['/user/events']">
          <span class="profile-info-number">
            08
          </span>
          <span class="profile-info-name">
            Events
          </span>
        </button>
        <button type="button" class="profile-info-item" [routerLink]="['/user/photos']">
          <span class="profile-info-number">
            44
          </span>
          <span class="profile-info-name">
            Photo
          </span>
        </button>
      </div>
    </div>
    <div class="user-router-container" >
      <router-outlet ></router-outlet>
    </div>
  </div>
</div>



