<h2 class="content-title">My profile</h2>
<div class="user-wrapper">
  <div class="user-main-bg-wrapper">
    <img class="user-main-bg" src="assets/img/cover.jpg"/>
  </div>
  <div class="user-content">
    <div class="user-header">
      <div class="user-img-wrapper">
        <img class="user-img" src="assets/img/img-person.png"/>
      </div>
      <div class="user-container">
        <h4 class="user-name">{{userLocal?.firstName}} {{userLocal?.lastName}}</h4>
        <div class="user-info">
          <span class="user-date">
          <i class="material-icons">today</i>
            16 august 1984 <b> (31 year old)</b>
          </span>
          <span class="user-city">
           <i class="material-icons">place</i>
            Kharkov
          </span>
          <button type="button" class="flex-pull-right" mz-button [routerLink]="['/user/update']">Info update</button>
        </div>
        <div class="user-skills">
          <ul class="user-skills-list">
            <li>
              <button type="button">
                <i class="material-icons">directions_bike</i>
                Football
              </button>
            </li>
            <li>
              <button type="button">
                <i class="material-icons">directions_bike</i>
                Football
              </button>
            </li>
            <li>
              <button type="button">
                <i class="material-icons">directions_bike</i>
                Football
              </button>
            </li>
            <li>
              <button type="button">
                <i class="material-icons">directions_bike</i>
                Football
              </button>
            </li>
            <li>
              <button type="button">
                <i class="material-icons">directions_bike</i>
                Football
              </button>
            </li>
            <li>
              <button type="button">
                <i class="material-icons">directions_bike</i>
                Football
              </button>
            </li>
          </ul>
        </div>

      </div>
      <div class="profile-info-wrapper">
        <button type="button" class="profile-info-item" [routerLink]="['/user/page/friends']">
          <span class="profile-info-number">
            11
          </span>
          <span class="profile-info-name">
            Friends
          </span>
        </button>
        <button type="button" class="profile-info-item" [routerLink]="['/user/page/places']">
          <span class="profile-info-number">
            23
          </span>
          <span class="profile-info-name">
            Places
          </span>
        </button>
        <button type="button" class="profile-info-item" [routerLink]="['/user/page/events']">
          <span class="profile-info-number">
            08
          </span>
          <span class="profile-info-name">
            Events
          </span>
        </button>
        <button type="button" class="profile-info-item">
          <span class="profile-info-number">
            44
          </span>
          <span class="profile-info-name">
            Photo
          </span>
        </button>
      </div>
    </div>
    <div class="user-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>



