<h2 class="content-title">My place</h2>

<md-tab-group>
  <md-tab label="All">
    <div class="place-wrapper">
      <div class="row">
        <div class="col s4">
          <div class="place-item" [routerLink]="['/places/page']">
            <div class="place-img">
              <img src="assets/img/img-place.jpg"/>
            </div>
            <div class="place-description">
              <div class="place-info clearfix">
            <span class="place-city">
              <i class="material-icons">place</i>New-York</span>
                <span class="place-date">12.08.2017</span>
              </div>
              <span class="place-name">Expressa vero in iis aetatibus</span>
            </div>
          </div>
        </div>
        <div class="col s4">
          <div class="place-item">
            <div class="place-img">
              <img src="assets/img/img-place2.jpg"/>
            </div>
            <div class="place-description">
              <div class="place-info clearfix">
            <span class="place-city">
              <i class="material-icons">place</i>
              New-York
            </span>
                <span class="place-date">12.08.2017</span>
              </div>
              <span class="place-name">
            Expressa vero in iis aetatibus
          </span>
            </div>
          </div>
        </div>
        <div class="col s4">
          <div class="place-item">
            <div class="place-img">
              <img src="assets/img/img-place.jpg"/>
            </div>
            <div class="place-description">
              <div class="place-info clearfix">
            <span class="place-city">
              <i class="material-icons">place</i>
              New-York
            </span>
                <span class="place-date">12.08.2017</span>
              </div>
              <span class="place-name">
            Expressa vero in iis aetatibus
          </span>
            </div>
          </div>
        </div>
        <div class="col s4">
          <div class="place-item">
            <div class="place-img">
              <img src="assets/img/img-place2.jpg"/>
            </div>
            <div class="place-description">
              <div class="place-info clearfix">
            <span class="place-city">
              <i class="material-icons">place</i>
              New-York
            </span>
                <span class="place-date">12.08.2017</span>
              </div>
              <span class="place-name">
            Expressa vero in iis aetatibus
          </span>
            </div>
          </div>
        </div>
        <div class="col s4">
          <div class="place-item">
            <div class="place-img">
              <img src="assets/img/img-place.jpg"/>
            </div>
            <div class="place-description">
              <div class="place-info clearfix">
            <span class="place-city">
              <i class="material-icons">place</i>
              New-York
            </span>
                <span class="place-date">12.08.2017</span>
              </div>
              <span class="place-name">
            Expressa vero in iis aetatibus
          </span>
            </div>
          </div>
        </div>
        <div class="col s4">
          <div class="place-item">
            <div class="place-img">
              <img src="assets/img/img-place2.jpg"/>
            </div>
            <div class="place-description">
              <div class="place-info clearfix">
            <span class="place-city">
              <i class="material-icons">place</i>
              New-York
            </span>
                <span class="place-date">12.08.2017</span>
              </div>
              <span class="place-name">
            Expressa vero in iis aetatibus
          </span>
            </div>
          </div>
        </div>
        <div class="col s4">
          <div class="place-item">
            <div class="place-img">
              <img src="assets/img/img-place.jpg"/>
            </div>
            <div class="place-description">
              <div class="place-info clearfix">
            <span class="place-city">
              <i class="material-icons">place</i>
              New-York
            </span>
                <span class="place-date">12.08.2017</span>
              </div>
              <span class="place-name">
            Expressa vero in iis aetatibus
          </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </md-tab>
  <md-tab label="Gyms">
    <div class="place-wrapper">
      <div class="row">
        <div class="col s4">
          <div class="place-item">
            <div class="place-img">
              <img src="assets/img/img-place.jpg"/>
            </div>
            <div class="place-description">
              <div class="place-info clearfix">
            <span class="place-city">
              <i class="material-icons">place</i>
              New-York
            </span>
                <span class="place-date">12.08.2017</span>
              </div>
              <span class="place-name">
            Expressa vero in iis aetatibus
          </span>
            </div>
          </div>
        </div>
        <div class="col s4">
          <div class="place-item">
            <div class="place-img">
              <img src="assets/img/img-place2.jpg"/>
            </div>
            <div class="place-description">
              <div class="place-info clearfix">
            <span class="place-city">
              <i class="material-icons">place</i>
              New-York
            </span>
                <span class="place-date">12.08.2017</span>
              </div>
              <span class="place-name">
            Expressa vero in iis aetatibus
          </span>
            </div>
          </div>
        </div>
        <div class="col s4">
          <div class="place-item">
            <div class="place-img">
              <img src="assets/img/img-place.jpg"/>
            </div>
            <div class="place-description">
              <div class="place-info clearfix">
            <span class="place-city">
              <i class="material-icons">place</i>
              New-York
            </span>
                <span class="place-date">12.08.2017</span>
              </div>
              <span class="place-name">
            Expressa vero in iis aetatibus
          </span>
            </div>
          </div>
        </div>
        <div class="col s4">
          <div class="place-item">
            <div class="place-img">
              <img src="assets/img/img-place2.jpg"/>
            </div>
            <div class="place-description">
              <div class="place-info clearfix">
            <span class="place-city">
              <i class="material-icons">place</i>
              New-York
            </span>
                <span class="place-date">12.08.2017</span>
              </div>
              <span class="place-name">
            Expressa vero in iis aetatibus
          </span>
            </div>
          </div>
        </div>
        <div class="col s4">
          <div class="place-item">
            <div class="place-img">
              <img src="assets/img/img-place.jpg"/>
            </div>
            <div class="place-description">
              <div class="place-info clearfix">
            <span class="place-city">
              <i class="material-icons">place</i>
              New-York
            </span>
                <span class="place-date">12.08.2017</span>
              </div>
              <span class="place-name">
            Expressa vero in iis aetatibus
          </span>
            </div>
          </div>
        </div>
        <div class="col s4">
          <div class="place-item">
            <div class="place-img">
              <img src="assets/img/img-place2.jpg"/>
            </div>
            <div class="place-description">
              <div class="place-info clearfix">
            <span class="place-city">
              <i class="material-icons">place</i>
              New-York
            </span>
                <span class="place-date">12.08.2017</span>
              </div>
              <span class="place-name">
            Expressa vero in iis aetatibus
          </span>
            </div>
          </div>
        </div>
        <div class="col s4">
          <div class="place-item">
            <div class="place-img">
              <img src="assets/img/img-place.jpg"/>
            </div>
            <div class="place-description">
              <div class="place-info clearfix">
            <span class="place-city">
              <i class="material-icons">place</i>
              New-York
            </span>
                <span class="place-date">12.08.2017</span>
              </div>
              <span class="place-name">
            Expressa vero in iis aetatibus
          </span>
            </div>
          </div>
        </div>
        <div class="col s4">
          <div class="place-item">
            <div class="place-img">
              <img src="assets/img/img-place.jpg"/>
            </div>
            <div class="place-description">
              <div class="place-info clearfix">
            <span class="place-city">
              <i class="material-icons">place</i>
              New-York
            </span>
                <span class="place-date">12.08.2017</span>
              </div>
              <span class="place-name">
            Expressa vero in iis aetatibus
          </span>
            </div>
          </div>
        </div>
        <div class="col s4">
          <div class="place-item">
            <div class="place-img">
              <img src="assets/img/img-place.jpg"/>
            </div>
            <div class="place-description">
              <div class="place-info clearfix">
            <span class="place-city">
              <i class="material-icons">place</i>
              New-York
            </span>
                <span class="place-date">12.08.2017</span>
              </div>
              <span class="place-name">
            Expressa vero in iis aetatibus
          </span>
            </div>
          </div>
        </div>
        <div class="col s4">
          <div class="place-item">
            <div class="place-img">
              <img src="assets/img/img-place2.jpg"/>
            </div>
            <div class="place-description">
              <div class="place-info clearfix">
            <span class="place-city">
              <i class="material-icons">place</i>
              New-York
            </span>
                <span class="place-date">12.08.2017</span>
              </div>
              <span class="place-name">
            Expressa vero in iis aetatibus
          </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </md-tab>
  <md-tab label="For children">
    <div class="place-wrapper">
      <div class="row">
        <div class="col s4">
          <div class="place-item">
            <div class="place-img">
              <img src="assets/img/img-place.jpg"/>
            </div>
            <div class="place-description">
              <div class="place-info clearfix">
            <span class="place-city">
              <i class="material-icons">place</i>
              New-York
            </span>
                <span class="place-date">12.08.2017</span>
              </div>
              <span class="place-name">
            Expressa vero in iis aetatibus
          </span>
            </div>
          </div>
        </div>
        <div class="col s4">
          <div class="place-item">
            <div class="place-img">
              <img src="assets/img/img-place2.jpg"/>
            </div>
            <div class="place-description">
              <div class="place-info clearfix">
            <span class="place-city">
              <i class="material-icons">place</i>
              New-York
            </span>
                <span class="place-date">12.08.2017</span>
              </div>
              <span class="place-name">
            Expressa vero in iis aetatibus
          </span>
            </div>
          </div>
        </div>
        <div class="col s4">
          <div class="place-item">
            <div class="place-img">
              <img src="assets/img/img-place.jpg"/>
            </div>
            <div class="place-description">
              <div class="place-info clearfix">
            <span class="place-city">
              <i class="material-icons">place</i>
              New-York
            </span>
                <span class="place-date">12.08.2017</span>
              </div>
              <span class="place-name">
            Expressa vero in iis aetatibus
          </span>
            </div>
          </div>
        </div>
        <div class="col s4">
          <div class="place-item">
            <div class="place-img">
              <img src="assets/img/img-place2.jpg"/>
            </div>
            <div class="place-description">
              <div class="place-info clearfix">
            <span class="place-city">
              <i class="material-icons">place</i>
              New-York
            </span>
                <span class="place-date">12.08.2017</span>
              </div>
              <span class="place-name">
            Expressa vero in iis aetatibus
          </span>
            </div>
          </div>
        </div>
        <div class="col s4">
          <div class="place-item">
            <div class="place-img">
              <img src="assets/img/img-place.jpg"/>
            </div>
            <div class="place-description">
              <div class="place-info clearfix">
            <span class="place-city">
              <i class="material-icons">place</i>
              New-York
            </span>
                <span class="place-date">12.08.2017</span>
              </div>
              <span class="place-name">
            Expressa vero in iis aetatibus
          </span>
            </div>
          </div>
        </div>
        <div class="col s4">
          <div class="place-item">
            <div class="place-img">
              <img src="assets/img/img-place2.jpg"/>
            </div>
            <div class="place-description">
              <div class="place-info clearfix">
            <span class="place-city">
              <i class="material-icons">place</i>
              New-York
            </span>
                <span class="place-date">12.08.2017</span>
              </div>
              <span class="place-name">
            Expressa vero in iis aetatibus
          </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </md-tab>
</md-tab-group>


