<h2 class="content-title">Place</h2>

<md-tab-group>
  <md-tab label="All">
    <div class="place-wrapper">
      <div class="row">
        <div *ngFor="let place of places" class="col s4">
          <div class="place-item" [routerLink]="['/places', place.id, 'info']">
            <div class="place-img">
              <img src="assets/img/img-place.jpg"/>
              <button type="button" mz-button (click)="addPlace(place.id)" >Add Place</button>
            </div>
            <div class="place-description">
              <div class="place-info clearfix">
            <span class="place-city">
              <i class="material-icons">place</i>{{place.city}}</span>
                <span class="place-date">{{place.date}}</span>
              </div>
              <span class="place-name">{{place.title}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </md-tab>
  <md-tab label="My gyms">
    <div class="place-wrapper">
      <div class="row">
        <div *ngFor="let place of myPlaces" class="col s4">
          <div class="place-item" [routerLink]="['/places', place.id, 'info']">
            <div class="place-img">
              <img src="assets/img/img-place.jpg"/>
              <button type="button" mz-button class="delete-color" (click)="exitPlace(place.id)" >Exit Place</button>
            </div>
            <div class="place-description">
              <div class="place-info clearfix">
            <span class="place-city">
              <i class="material-icons">place</i>{{place.city}}</span>
                <span class="place-date">{{place.date}}</span>
              </div>
              <span class="place-name">{{place.title}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </md-tab>
  <md-tab label="For children">
    <div class="place-wrapper">
      <div class="row">
        <div *ngFor="let place of placesService.places" class="col s4">
          <div class="place-item" [routerLink]="['/places', place.id, 'info']">
            <div class="place-img">
              <img src="assets/img/img-place.jpg"/>
            </div>
            <div class="place-description">
              <div class="place-info clearfix">
            <span class="place-city">
              <i class="material-icons">place</i>{{place.city}}</span>
                <span class="place-date">{{place.date}}</span>
              </div>
              <span class="place-name">{{place.title}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </md-tab>
</md-tab-group>


