<div class="landing">
  <div class="landing-inner">
    <section class="landing-section main-section">
      <div class="section-container">
        <div class="section-header">
          <div class="logo-wrapper">
            <a href="#" class="landing-logo"></a>
            <p>sport<br><span>without</span> borders</p>
          </div>
        </div>
        <div class="section-footer">
          <div class="landing-title-wrapper">
            <h2 class="landing-title"><b>Sport</b>
              <span class="landing-sub-title">is connecting</span>
            </h2>
          </div>

          <div class="landing-search">
            <div class="search-tabs-head">
              <div class="search-head-item">
                Events
              </div>
              <div class="search-head-item m-head-item">
                Partners
              </div>
            </div>
            <div class="search-tab-content">
              <form>
                <div class="search-content-item">

                  <div class="search-input">
                    <input type="text">
                  </div>
                  <div class="search-input">
                    <input type="text">
                  </div>
                  <button type="button" class="btn">Search</button>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="landing-section">
      <div class="section-container">
        <div class="widget-item m-gum-bg">
          <div class="widget-content">
            <div class="widget-icon m-gum-icon"></div>
            <h3 class="widget-title">Gum section</h3>
          </div>
        </div>
        <div class="widget-item m-child-bg">
          <div class="widget-content">
            <div class="widget-icon m-child-icon"></div>
            <h3 class="widget-title">For child</h3>
          </div>
        </div>
        <div class="widget-item m-space-bg">
          <div class="widget-content">
            <div class="widget-icon m-space-icon"></div>
            <h3 class="widget-title">Open space</h3>
          </div>
        </div>
      </div>
    </section>
    <section class="landing-section">
      <div class="section-container m-section-padding">
        <div class="landing-title-wrapper m-title-wrapper-height">
          <h2 class="landing-title m-title-color">Events</h2>
        </div>
        <div class="landing-content">
          <h3 class="landing-content-title">Join to events</h3>
          <div class="landing-timeline-wrapper clearfix">
            <div class="landing-timeline-block">
              <div class="timeline-point small"></div>
              <div class="event">
                <div class="event-img-wrapper">
                  <img src="assets/img/events-img.jpg"/>
                </div>
                <div class="event-description-wrapper">
                  <h3 class="event-name">Name of events</h3>
                  <span class="event-date">06.06.2016</span>
                  <div class="event-info">
                    <span class="event-place"><i class="material-icons">location_on</i>Kharkov</span>
                    <span class="event-time"><i class="material-icons">access_time</i>18:00</span>
                    <span class="event-team"><i class="material-icons">person</i>10 participants </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="landing-timeline-block clearfix">
              <div class="timeline-point small"></div>
              <div class="event">
                <div class="event-img-wrapper">
                  <img src="assets/img/events-img.jpg"/>
                </div>
                <div class="event-description-wrapper">
                  <h3 class="event-name">Name of events</h3>
                  <span class="event-date">06.06.2016</span>
                  <div class="event-info">
                    <span class="event-place"><i class="material-icons">location_on</i>Kharkov</span>
                    <span class="event-time"><i class="material-icons">access_time</i>18:00</span>
                    <span class="event-team"><i class="material-icons">person</i>10 participants </span>
                  </div>
                </div>

              </div>
            </div>
            <div class="landing-timeline-block clearfix">
              <div class="timeline-point small"></div>
              <div class="event">
                <div class="event-img-wrapper">
                  <img src="assets/img/events-img.jpg"/>
                </div>
                <div class="event-description-wrapper">
                  <h3 class="event-name">Name of events</h3>
                  <span class="event-date">06.06.2016</span>
                  <div class="event-info">
                    <span class="event-place"><i class="material-icons">location_on</i>Kharkov</span>
                    <span class="event-time"><i class="material-icons">access_time</i>18:00</span>
                    <span class="event-team"><i class="material-icons">person</i>10 participants </span>
                  </div>
                </div>

              </div>
            </div>
            <div class="landing-timeline-block clearfix">
              <div class="event">
                <div class="event-img-wrapper">
                  <img src="assets/img/events-img.jpg"/>
                </div>
                <div class="event-description-wrapper">
                  <h3 class="event-name">Name of events</h3>
                  <span class="event-date">06.06.2016</span>
                  <div class="event-info">
                    <span class="event-place"><i class="material-icons">location_on</i>Kharkov</span>
                    <span class="event-time"><i class="material-icons">access_time</i>18:00</span>
                    <span class="event-team"><i class="material-icons">person</i>10 participants </span>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="landing-section">
      <div class="section-container notification-section m-section-padding">
        <div class="landing-title-wrapper m-title-wrapper-height">
          <h2 class="landing-title m-title-color">Notification</h2>
        </div>
        <div class="landing-content">
          <h3 class="landing-content-title">Check your notification</h3>
          <div class="notification-timeline">
            <div class="timeline-block clearfix">
              <div class="timeline-point success">
                <i class="material-icons">place</i>
              </div>
              <div class="timeline-content">
                <div class="timeline-cart">
                  <div class="cart-header clearfix">
                    <div class="cart-img">
                      <img src="assets/img/team-img.png"/>
                    </div>
                    <h5 class="cart-name">Jeff Curtis</h5>
                    <span class="cart-place"></span>
                  </div>
                  <div class="cart-description">
                    <p>
                      What you think, you become. What you feel, you attract. What you imagine, you create - Buddha.
                      #quote
                    </p>
                  </div>
                  <div class="cart-footer">
                    <div class="cart-reaction">
                      <div class="reaction-wrapper reaction-like">
                        <button type="button" class="reaction-item"><i class="material-icons">favorite</i></button>
                        <span>34</span>
                      </div>
                      <div class="reaction-wrapper reaction-dislike">
                        <button type="button" class="reaction-item"><i class="material-icons">favorite_border</i>
                        </button>
                        <span>11</span>
                      </div>
                      <div class="reaction-wrapper reaction-share">
                        <button type="button" class="reaction-item"><i class="material-icons">arrow_forward</i>
                        </button>
                        <span>125</span>
                      </div>
                      <div class="reaction-wrapper reaction-toggle">
                        <span>+</span>
                        <button type="button" class="reaction-item reaction-item-toggle"><i
                          class="material-icons">mood</i>
                        </button>
                        <div class="add-reaction-wrapper">
                          <button type="button" class="reaction-item"><i class="material-icons">favorite</i></button>
                          <button type="button" class="reaction-item"><i class="material-icons">favorite_border</i>
                          </button>
                          <button type="button" class="reaction-item"><i class="material-icons">arrow_forward</i>
                          </button>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="timeline-date">
                  <h6>Apple Inc</h6>
                  <span>15 January 2015, 06:50 PM</span>
                </div>
              </div>
            </div>

            <div class="timeline-block clearfix">
              <div class="timeline-point small"></div>
              <div class="timeline-content">
                <div class="timeline-cart">
                  <div class="cart-header clearfix">
                    <div class="cart-img">
                      <img src="assets/img/team-img.png"/>
                    </div>
                    <h5 class="cart-name">Jeff Curtis</h5>
                    <span class="cart-place"></span>
                  </div>
                  <div class="cart-description">
                    <p>
                      What you think, you become. What you feel, you attract. What you imagine, you create - Buddha.
                      #quote
                    </p>
                  </div>
                  <div class="cart-footer">
                    <div class="cart-reaction">
                      <div class="reaction-wrapper reaction-like">
                        <button type="button" class="reaction-item"><i class="material-icons">favorite</i></button>
                        <span>34</span>
                      </div>
                      <div class="reaction-wrapper reaction-dislike">
                        <button type="button" class="reaction-item"><i class="material-icons">favorite_border</i>
                        </button>
                        <span>11</span>
                      </div>
                      <div class="reaction-wrapper reaction-share">
                        <button type="button" class="reaction-item"><i class="material-icons">arrow_forward</i>
                        </button>
                        <span>125</span>
                      </div>
                      <div class="reaction-wrapper reaction-toggle">
                        <span>+</span>
                        <button type="button" class="reaction-item reaction-item-toggle"><i
                          class="material-icons">mood</i>
                        </button>
                        <div class="add-reaction-wrapper">
                          <button type="button" class="reaction-item"><i class="material-icons">favorite</i></button>
                          <button type="button" class="reaction-item"><i class="material-icons">favorite_border</i>
                          </button>
                          <button type="button" class="reaction-item"><i class="material-icons">arrow_forward</i>
                          </button>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="timeline-date">
                  <h6>Apple Inc</h6>
                  <span>15 January 2015, 06:50 PM</span>
                </div>
              </div>
            </div>
            <div class="timeline-block clearfix">
              <div class="timeline-point message">
                <i class="material-icons">message</i>
              </div>
              <div class="timeline-content">
                <div class="timeline-cart">
                  <div class="cart-header clearfix">
                    <div class="cart-img">
                      <img src="assets/img/team-img.png"/>
                    </div>
                    <h5 class="cart-name">Jeff Curtis</h5>
                    <span class="cart-place"></span>
                  </div>
                  <div class="cart-description">
                    <p>
                      What you think, you become. What you feel, you attract. What you imagine, you create - Buddha.
                      #quote
                    </p>
                  </div>
                  <div class="cart-content">
                    <div class="cart-img-wrapper">
                      <img src="assets/img/img-11.jpg"/>
                      <div class="cart-img-description">
                        <h6>Unum est sine dolore esse</h6>
                      </div>
                    </div>
                  </div>
                  <div class="cart-footer">
                    <div class="cart-reaction">
                      <div class="reaction-wrapper reaction-like">
                        <button type="button" class="reaction-item"><i class="material-icons">favorite</i></button>
                        <span>34</span>
                      </div>
                      <div class="reaction-wrapper reaction-dislike">
                        <button type="button" class="reaction-item"><i class="material-icons">favorite_border</i>
                        </button>
                        <span>11</span>
                      </div>
                      <div class="reaction-wrapper reaction-share">
                        <button type="button" class="reaction-item"><i class="material-icons">arrow_forward</i>
                        </button>
                        <span>125</span>
                      </div>
                      <div class="reaction-wrapper reaction-toggle">
                        <span>+</span>
                        <button type="button" class="reaction-item reaction-item-toggle"><i
                          class="material-icons">mood</i>
                        </button>
                        <div class="add-reaction-wrapper">
                          <button type="button" class="reaction-item"><i class="material-icons">favorite</i></button>
                          <button type="button" class="reaction-item"><i class="material-icons">favorite_border</i>
                          </button>
                          <button type="button" class="reaction-item"><i class="material-icons">arrow_forward</i>
                          </button>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="timeline-date">
                  <span>15 January 2015, 06:50 PM</span>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>

    </section>
    <section class="landing-section">
      <div class="section-container people-section m-section-padding">
        <div class="landing-title-wrapper m-title-wrapper-height">
          <h2 class="landing-title m-title-color">People</h2>
        </div>
        <div class="landing-content">
          <h3 class="landing-content-title m-content-title">Find your team, and play together</h3>
          <div class="team-content">
            <div class="row">
              <div class="col s3">
                <div class="team">
                  <div class="team-img-wrapper">
                    <div class="team-control-wrapper">
                      <img src="assets/img/team-img.png">
                      <div class="team-control">
                        <button type="button" class="team-accept"><i class="material-icons">check</i></button>
                        <button type="button" class="team-delete"><i class="material-icons">close</i></button>
                      </div>
                    </div>
                  </div>
                  <a href="#" class="team-name">Erin Stewart</a>
                  <span class="team-city"><i class="material-icons">place</i>Kharkov</span>
                </div>
              </div>
              <div class="col s3">
                <div class="team">
                  <div class="team-img-wrapper">
                    <div class="team-control-wrapper">
                      <img src="assets/img/team-img.png">
                      <div class="team-control">
                        <button type="button" class="team-accept"><i class="material-icons">check</i></button>
                        <button type="button" class="team-delete"><i class="material-icons">close</i></button>
                      </div>
                    </div>
                  </div>
                  <a href="#" class="team-name">Erin Stewart</a>
                  <span class="team-city"><i class="material-icons">place</i>Kharkov</span>
                </div>
              </div>
              <div class="col s3">
                <div class="team">
                  <div class="team-img-wrapper">
                    <div class="team-control-wrapper">
                      <img src="assets/img/team-img.png">
                      <div class="team-control">
                        <button type="button" class="team-accept"><i class="material-icons">check</i></button>
                        <button type="button" class="team-delete"><i class="material-icons">close</i></button>
                      </div>
                    </div>
                  </div>
                  <a href="#" class="team-name">Erin Stewart</a>
                  <span class="team-city"><i class="material-icons">place</i>Kharkov</span>
                </div>
              </div>
              <div class="col s3">
                <div class="team">
                  <div class="team-img-wrapper">
                    <div class="team-control-wrapper">
                      <img src="assets/img/team-img.png">
                      <div class="team-control">
                        <button type="button" class="team-accept"><i class="material-icons">check</i></button>
                        <button type="button" class="team-delete"><i class="material-icons">close</i></button>
                      </div>
                    </div>
                  </div>
                  <a href="#" class="team-name">Erin Stewart</a>
                  <span class="team-city"><i class="material-icons">place</i>Kharkov</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col s3">
                <div class="team">
                  <div class="team-img-wrapper">
                    <div class="team-control-wrapper">
                      <img src="assets/img/team-img.png">
                      <div class="team-control">
                        <button type="button" class="team-accept"><i class="material-icons">check</i></button>
                        <button type="button" class="team-delete"><i class="material-icons">close</i></button>
                      </div>
                    </div>
                  </div>
                  <a href="#" class="team-name">Erin Stewart</a>
                  <span class="team-city"><i class="material-icons">place</i>Kharkov</span>
                </div>
              </div>
              <div class="col s3">
                <div class="team">
                  <div class="team-img-wrapper">
                    <div class="team-control-wrapper">
                      <img src="assets/img/team-img.png">
                      <div class="team-control">
                        <button type="button" class="team-accept"><i class="material-icons">check</i></button>
                        <button type="button" class="team-delete"><i class="material-icons">close</i></button>
                      </div>
                    </div>
                  </div>
                  <a href="#" class="team-name">Erin Stewart</a>
                  <span class="team-city"><i class="material-icons">place</i>Kharkov</span>
                </div>
              </div>
              <div class="col s3">
                <div class="team">
                  <div class="team-img-wrapper">
                    <div class="team-control-wrapper">
                      <img src="assets/img/team-img.png">
                      <div class="team-control">
                        <button type="button" class="team-accept"><i class="material-icons">check</i></button>
                        <button type="button" class="team-delete"><i class="material-icons">close</i></button>
                      </div>
                    </div>
                  </div>
                  <a href="#" class="team-name">Erin Stewart</a>
                  <span class="team-city"><i class="material-icons">place</i>Kharkov</span>
                </div>
              </div>
              <div class="col s3">
                <div class="team">
                  <div class="team-img-wrapper">
                    <div class="team-control-wrapper">
                      <img src="assets/img/team-img.png">
                      <div class="team-control">
                        <button type="button" class="team-accept"><i class="material-icons">check</i></button>
                        <button type="button" class="team-delete"><i class="material-icons">close</i></button>
                      </div>
                    </div>
                  </div>
                  <a href="#" class="team-name">Erin Stewart</a>
                  <span class="team-city"><i class="material-icons">place</i>Kharkov</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col s3">
                <div class="team">
                  <div class="team-img-wrapper">
                    <div class="team-control-wrapper">
                      <img src="assets/img/team-img.png">
                      <div class="team-control">
                        <button type="button" class="team-accept"><i class="material-icons">check</i></button>
                        <button type="button" class="team-delete"><i class="material-icons">close</i></button>
                      </div>
                    </div>
                  </div>
                  <a href="#" class="team-name">Erin Stewart</a>
                  <span class="team-city"><i class="material-icons">place</i>Kharkov</span>
                </div>
              </div>
              <div class="col s3">
                <div class="team">
                  <div class="team-img-wrapper">
                    <div class="team-control-wrapper">
                      <img src="assets/img/team-img.png">
                      <div class="team-control">
                        <button type="button" class="team-accept"><i class="material-icons">check</i></button>
                        <button type="button" class="team-delete"><i class="material-icons">close</i></button>
                      </div>
                    </div>
                  </div>
                  <a href="#" class="team-name">Erin Stewart</a>
                  <span class="team-city"><i class="material-icons">place</i>Kharkov</span>
                </div>
              </div>
              <div class="col s3">
                <div class="team">
                  <div class="team-img-wrapper">
                    <div class="team-control-wrapper">
                      <img src="assets/img/team-img.png">
                      <div class="team-control">
                        <button type="button" class="team-accept"><i class="material-icons">check</i></button>
                        <button type="button" class="team-delete"><i class="material-icons">close</i></button>
                      </div>
                    </div>
                  </div>
                  <a href="#" class="team-name">Erin Stewart</a>
                  <span class="team-city"><i class="material-icons">place</i>Kharkov</span>
                </div>
              </div>
              <div class="col s3">
                <div class="team">
                  <div class="team-img-wrapper">
                    <div class="team-control-wrapper">
                      <img src="assets/img/team-img.png">
                      <div class="team-control">
                        <button type="button" class="team-accept"><i class="material-icons">check</i></button>
                        <button type="button" class="team-delete"><i class="material-icons">close</i></button>
                      </div>
                    </div>
                  </div>
                  <a href="#" class="team-name">Erin Stewart</a>
                  <span class="team-city"><i class="material-icons">place</i>Kharkov</span>
                </div>
              </div>
            </div>


          </div>
          <button class="btn pull-right">Find</button>
        </div>
      </div>
    </section>
    <section class="landing-section">
      <div class="section-container m-section-padding">
        <div class="landing-title-wrapper m-title-wrapper-height">
          <h2 class="landing-title m-title-color">How it works</h2>
        </div>
        <div class="landing-content">
          <h3 class="landing-content-title">Open your skills with swibo</h3>
          <div class="landing-timeline-wrapper clearfix">
            <div class="landing-timeline-block">
              <div class="timeline-point small"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="login-wrapper">
    <form [formGroup]="rForm" (ngSubmit)="login()">
      <div class="form-header">
        <h3>Login</h3>
        <p>Sign in to your account</p>
      </div>
      <div class="form-container">
        <div class="form-group">
          <label class="field-label">Email</label>
          <mz-input-container>
            <input class="field" type="email" formControlName="email" mz-input>
          </mz-input-container>

        </div>
        <div class="alert" *ngIf="!rForm.get('email').valid && rForm.controls['email'].touched">{{ titleAlert }}</div>
        <div class="form-group">
          <label class="field-label">Password</label>
          <mz-input-container>
            <input class="field" type="password" formControlName="password" mz-input>
          </mz-input-container>

        </div>
        <div class="alert" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">
          {{titleAlert}}
        </div>
        <!--<div>
          <h4>Gender</h4>
          <div>
            <input formControlName="form_type" [checked]="rForm.controls['form_type'].value === 'male'" id="male" value="male" type="radio">
            <label for="male">Male</label>
          </div>
          <div>
            <input formControlName="form_type" [checked]="rForm.controls['form_type'].value === 'female'" id="female" value="female" type="radio">
            <label for="female">Female</label>
          </div>
        </div>-->


        <button class="btn light-blue waves-effect waves-light" value="" [disabled]="!rForm.valid">Submit Form</button>
        <button class="btn green accent-4 waves-effect waves-light" value="" routerLink="/registration">Registration
        </button>

      </div>
      <div class="form-footer">
        <p>&copy; Swibo 2017. All rights reserved.</p>
      </div>
    </form>
  </div>
</div>
