<div class="landing">
  <div class="landing-inner">
    <section class="landing-section main-section">
      <div class="section-container">
        <div class="section-header">
          <div class="logo-wrapper">
            <a href="#" class="landing-logo"></a>
            <p>sport<br><span>without</span> borders</p>
          </div>
        </div>
        <div class="section-footer">
          <div class="landing-title-wrapper">
            <h2 class="landing-title"><b>Sport</b>
              <span class="landing-sub-title">is connecting</span>
            </h2>
          </div>

          <div class="landing-search">
            <div class="search-tabs-head">
              <div class="search-head-item">
                Events
              </div>
              <div class="search-head-item m-head-item">
                Partners
              </div>
            </div>
            <div class="search-tab-content">
              <form>
                <div class="search-content-item">

                  <div class="search-input">
                    <input type="text">
                  </div>
                  <div class="search-input">
                    <input type="text">
                  </div>
                  <button type="button" class="btn">Search</button>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="landing-section">
      <div class="section-container">
        <div class="widget-item">
          <div class="widget-icon"></div>
          <h3 class="widget-title">Gum section</h3>
        </div>
        <div class="widget-item">
          <div class="widget-icon"></div>
          <h3 class="widget-title">For child</h3>
        </div>
        <div class="widget-item">
          <div class="widget-icon"></div>
          <h3 class="widget-title">Open space</h3>
        </div>
      </div>
    </section>
    <section class="landing-section">
      <div class="section-container events-section">
        <div class="landing-title-wrapper">
          <h2 class="landing-title">Events
          </h2>
        </div>
      </div>
    </section>
  </div>
  <div class="login-wrapper">
    <form [formGroup]="rForm" (ngSubmit)="login()">
      <div class="form-header">
        <h3>Login</h3>
        <p>Sign in to your account</p>
      </div>
      <div class="form-container">
        <div class="form-group">
          <label class="field-label">Email</label>
          <mz-input-container>
            <input class="field" type="email" formControlName="email" mz-input>
          </mz-input-container>

        </div>
        <div class="alert" *ngIf="!rForm.get('email').valid && rForm.controls['email'].touched">{{ titleAlert }}</div>
        <div class="form-group">
          <label class="field-label">Password</label>
          <mz-input-container>
            <input class="field" type="password" formControlName="password" mz-input>
          </mz-input-container>

        </div>
        <div class="alert" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">
          {{titleAlert}}
        </div>
        <!--<div>
          <h4>Gender</h4>
          <div>
            <input formControlName="form_type" [checked]="rForm.controls['form_type'].value === 'male'" id="male" value="male" type="radio">
            <label for="male">Male</label>
          </div>
          <div>
            <input formControlName="form_type" [checked]="rForm.controls['form_type'].value === 'female'" id="female" value="female" type="radio">
            <label for="female">Female</label>
          </div>
        </div>-->


        <button class="btn light-blue waves-effect waves-light" value="" [disabled]="!rForm.valid">Submit Form</button>
        <button class="btn green accent-4 waves-effect waves-light" value="" routerLink="/registration">Registration
        </button>

      </div>
      <div class="form-footer">
        <p>&copy; Swibo 2017. All rights reserved.</p>
      </div>
    </form>
  </div>
</div>
