<div class="chat">
  <div class="chat-list-group">
    <div class="list-group-item">
      <div class="group-inner">
        <div class="group-img-border">
          <img src="assets/img/img-person.png">
        </div>
        <div class="group-container">
          <strong>John Doe</strong>
          <p>Hey. I'm busy righ now, can you help me with...</p>
        </div>
      </div>
    </div>
    <div class="list-group-item">
      <div class="group-inner">
        <div class="group-img-border">
          <img src="assets/img/img-person.png">
        </div>
        <div class="group-container">
          <strong>John Doe</strong>
          <p>Hey. I'm busy righ now, can you help me with...</p>
        </div>
      </div>
    </div>
    <div class="list-group-item">
      <div class="group-inner">
        <div class="group-img-border">
          <img src="assets/img/img-person.png">
        </div>
        <div class="group-container">
          <strong>John Doe</strong>
          <p>Hey. I'm busy righ now, can you help me with...</p>
        </div>
      </div>
    </div>
    <div class="list-group-item">
      <div class="group-inner">
        <div class="group-img-border">
          <img src="assets/img/img-person.png">
        </div>
        <div class="group-container">
          <strong>John Doe</strong>
          <p>Hey. I'm busy righ now, can you help me with...</p>
        </div>
      </div>
    </div>
  </div>
  <div class="chat-container">
    <div class="chat-block">
      <div class="chat-heading">
        <div class="chat-title">
          <div class="group-inner">
            <div class="group-img-border">
              <img src="assets/img/img-person.png">
            </div>
            <div class="group-container">
              <strong>Juan Obrien</strong>
              <p>tag</p>
            </div>
          </div>
        </div>
        <div class="chat-heading-elements">

        </div>
      </div>
      <div class="chat-content">
        <div class="messages-item inbox">
          <div class="messages-user">
            <img src="assets/img/img-person.png" class="messages-avatar">
          </div>
          <div class="messages-text">
            <p>
              Do you sagittis non interdum ut, scelerisque lobortis purus?
            </p>
          </div>
          <div class="messages-date">
            Sunday, July 07, 2016 at 15:45
          </div>
        </div>
        <div class="messages-item">
          <div class="messages-user">
            <img src="assets/img/img-person.png" class="messages-avatar">
          </div>
          <div class="messages-text">
            <p>
              Do you sagittis non interdum ut, scelerisque lobortis purus?
            </p>
          </div>
          <div class="messages-date">
            Sunday, July 07, 2016 at 15:45
          </div>
        </div>
      </div>
      <div class="chat-footer">
        <form>
          <div class="chat-form">
            <input class="chat-input" type="text" placeholder="Message...">
            <button class="chat-button" type="button">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
