<h2 class="content-title">People</h2>
<div class="people-wrapper">
  <md-tab-group>
    <md-tab label="All">
      <div class="team-content">
        <div class="row">
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
              <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
             <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
              <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
             <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
              <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
             <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
              <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
             <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
              <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
             <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
              <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
             <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
        </div>

      </div>
    </md-tab>
    <md-tab label="My friends">
      <div class="team-content">

        <div class="row">
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
              <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
             <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
              <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
             <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
              <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
             <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
              <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
             <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div><div class="col s2">
          <div class="team">
            <div class="team-img-wrapper">
              <img src="assets/img/team-img.png">
            </div>
            <a href="#" class="team-name">Erin Stewart</a>
            <span class="team-city">
              <i class="material-icons">place</i>
            Kharkov
          </span>
          </div>
        </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
             <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>

          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
              <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
             <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
              <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
             <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
              <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
             <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
              <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
             <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>

        </div>

      </div>
    </md-tab>
    <md-tab label="Recommended">
      <div class="team-content">
        <div class="row">
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
              <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
             <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
              <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
             <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
              <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
             <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div><div class="col s2">
          <div class="team">
            <div class="team-img-wrapper">
              <img src="assets/img/team-img.png">
            </div>
            <a href="#" class="team-name">Erin Stewart</a>
            <span class="team-city">
              <i class="material-icons">place</i>
            Kharkov
          </span>
          </div>
        </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
             <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
              <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
             <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
              <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
             <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
              <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
             <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
              <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
             <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
              <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
             <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
              <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
             <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
              <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>
          <div class="col s2">
            <div class="team">
              <div class="team-img-wrapper">
                <img src="assets/img/team-img.png">
              </div>
              <a href="#" class="team-name">Erin Stewart</a>
              <span class="team-city">
             <i class="material-icons">place</i>
            Kharkov
          </span>
            </div>
          </div>


        </div>

      </div>
    </md-tab>
  </md-tab-group>
</div>
