<div class="title-wrapper">
  <h2 class="content-title">My events</h2>
  <button class="pull-right" type="button" mz-button [routerLink]="['/events/create']">Create New</button>
</div>
<md-tab-group>

  <md-tab label="Recommended events">

      <div *ngFor="let event of events">
        <div [routerLink]="['/events', event.id, 'info']" class="event">
          <div class="event-img-wrapper">
            <img src="assets/img/events-img.jpg"/>
          </div>
          <div class="event-description-wrapper">
            <h3 class="event-name">{{event.title}}</h3>
            <span class="event-date">{{event.date | date:'yyyy.MM.dd'}}</span>
            <p class="event-description">{{event.description}}</p>
            <i class="event-author" ><span *ngIf="event.author">by</span> {{event.author}}</i>
            <div class="event-skills-list">
              <div class="event-skill"><img src=""></div>
            </div>
          </div>
          <div class="event-info">
            <span class="event-place"><i class="material-icons">location_on</i>{{event.city}}</span>
            <span class="event-time"><i class="material-icons">access_time</i>{{event.time}}</span>
            <span class="event-team"><i class="material-icons">person</i>{{event.people}} participants </span>
            <button type="button" mz-button (click)="addEvent(event.id)">Join</button>
          </div>
        </div>

      </div>

  </md-tab>
  <md-tab label="My events">
    <div *ngFor="let event of myEvents">
      <div [routerLink]="['/events', event.id,  'info']" class="event">
        <div class="event-img-wrapper">
          <img src="assets/img/events-img.jpg"/>
        </div>
        <div class="event-description-wrapper">
          <h3 class="event-name">{{event.title}}</h3>
          <span class="event-date">{{event.date}}</span>
          <p class="event-description">{{event.description}}</p>
          <i class="event-author">by {{event.author}}</i>
          <div class="event-skills-list">
            <div class="event-skill"><i mz-icon-mdi [flip]="'vertical'" [icon]="'gondola'"></i>Bike</div>
            <div class="event-skill"><i mz-icon-mdi [flip]="'vertical'" [icon]="'gondola'"></i>Bike</div>
            <div class="event-skill"><i mz-icon-mdi [flip]="'vertical'" [icon]="'gondola'"></i>Bike</div>
          </div>
        </div>
        <div class="event-info">
          <span class="event-place"><i class="material-icons">location_on</i>{{event.city}}</span>
          <span class="event-time"><i class="material-icons">access_time</i>{{event.time}}</span>
          <span class="event-team"><i class="material-icons">person</i>{{event.people}} participants </span>
          <button type="button" class="delete-color" mz-button (click)="exitEvent(event.id)">Exit</button>
        </div>
      </div>

    </div>
  </md-tab>

  <md-tab label="All events">
    <div *ngFor="let event of events">
      <div [routerLink]="['/events', event.id,  'info']" class="event">
        <div class="event-img-wrapper">
          <img src="assets/img/events-img.jpg"/>
        </div>
        <div class="event-description-wrapper">
          <h3 class="event-name">{{event.title}}</h3>
          <span class="event-date">{{event.date}}</span>
          <p class="event-description">{{event.description}}</p>
          <i class="event-author">by {{event.author}}</i>
          <div class="event-skills-list">
            <div class="event-skill"><i mz-icon-mdi [flip]="'vertical'" [icon]="'gondola'"></i>Bike</div>
            <div class="event-skill"><i mz-icon-mdi [flip]="'vertical'" [icon]="'gondola'"></i>Bike</div>
            <div class="event-skill"><i mz-icon-mdi [flip]="'vertical'" [icon]="'gondola'"></i>Bike</div>
          </div>
        </div>
        <div class="event-info">
          <span class="event-place"><i class="material-icons">location_on</i>{{event.city}}</span>
          <span class="event-time"><i class="material-icons">access_time</i>{{event.time}}</span>
          <span class="event-team"><i class="material-icons">person</i>{{event.people}} participants </span>
          <button type="button" mz-button (click)="addEvent(event.id)">Join</button>
        </div>
      </div>

    </div>
  </md-tab>
</md-tab-group>
