<div class="container">
  <div class="login-wrapper">
    <div *ngIf="!name; else
       forminfo">
      <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.controls)">
        <div class="form-container">
          <div class="row columns">
            <h3>My Reactive Form</h3>
            <label>First name
              <input type="text" formControlName="firstName">
            </label>
            <div class="alert" *ngIf="!rForm.get('firstName').valid && rForm.controls['firstName'].touched">{{ titleAlert }}</div>
            <label>Last name
              <input type="text" formControlName="lastName">
            </label>
            <div class="alert" *ngIf="!rForm.controls['lastName'].valid && rForm.controls['lastName'].touched">{{ titleAlert }}</div>

            <label>Email
              <input type="email" formControlName="email">
            </label>
            <div class="alert" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">{{ titleAlert }}</div>
            <label>Password
              <input type="password" formControlName="pass">
            </label>
            <div class="alert" *ngIf="!rForm.controls['pass'].valid && rForm.controls['pass'].touched">{{ titleAlert }}</div>
            <div>
              <h4>Gender</h4>
              <div>
                <input formControlName="form_type" [checked]="rForm.controls['form_type'].value === 'male'" id="male" value="male" type="radio">
                <label for="male">Male</label>
              </div>
              <div>
                <input formControlName="form_type" [checked]="rForm.controls['form_type'].value === 'female'" id="female" value="female" type="radio">
                <label for="female">Female</label>
              </div>
            </div>

            <button class="btn waves-effect waves-light" value="" [disabled]="!rForm.valid">Submit Form</button>
          </div>
        </div>
      </form>
      <p class="alert">{{ firstName }} </p>
      <p class="alert">{{ lastName }}</p>
      <p class="alert">{{ gender }}</p>
    </div>


    <ng-template #forminfo>
      <div class="form-container">
        <div class="row columns">
          <h1></h1>

          <p></p>
          <p>{{ gender }}</p>
        </div>
      </div>
    </ng-template>

  </div>
</div>
