<h2 class="content-title">Create event</h2>
<form [formGroup]="eventForm">
  <div class="profile-update-wrapper">
    <div class="profile-avatar-wrapper">
      <div class="avatar-border event-avatar-border">
        <div class="avatar" mz-button (click)="openDialog()">
          <i class="avatar-icon event-icon" *ngIf="!sillsInfo?.img"></i>
          <img *ngIf="sillsInfo?.img" src="{{sillsInfo?.img}}"/>
        </div>
        <div class="avatar-dual-color"></div>
      </div>
      <div class="event-bg-wrapper" (click)="openBgDialog()">
        <img class="user-main-bg" *ngIf="eventBg?.img" src="{{eventBg?.img}}"/>
        <i class="material-icons">wallpaper</i>
      </div>
      <p class="avatar-description">Add kind of sport</p>
    </div>
    <div class="profile-update-container">
      <h4 class="title-border m-title-border-padding">Event title</h4>
      <div class="row">
        <div class="col s12">
          <div class="form-group">
            <label class="field-label">Name event</label>
            <mz-input-container>
              <input type="text" mz-input formControlName="title">
            </mz-input-container>
          </div>
        </div>
      </div>
      <h4 class="title-border m-title-border-padding">Event place</h4>
      <div class="row">
        <div class="col s6">
          <div class="form-group">
            <label class="field-label">City of event</label>
            <mz-input-container>
              <input type="text" mz-input formControlName="city">
            </mz-input-container>
          </div>
        </div>
        <div class="col s6">
          <div class="form-group">
            <label class="field-label">Address of event</label>
            <mz-input-container>
              <input type="text" mz-input formControlName="address">
            </mz-input-container>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="form-group">
            <label class="field-label">Event type</label>
            <mz-select-container>
              <select mz-select
                      class="select-field">
                <optgroup>
                  <option class="left circle">For all</option>
                  <option class="left circle">For friends</option>
                </optgroup>
              </select>
            </mz-select-container>
          </div>
        </div>
      </div>
      <h4 class="title-border m-title-border-padding">Event time</h4>
      <div class="row">
        <div class="col s6">
          <div class="form-group">
            <label class="field-label">Date</label>
            <div class="form-datepicker">
              <input [mdDatepicker]="myDatepicker" formControlName="date">
              <button [mdDatepickerToggle]="myDatepicker"></button>
              <md-datepicker #myDatepicker></md-datepicker>
            </div>
          </div>
        </div>
        <div class="col s3">
          <div class="form-group">
            <label class="field-label">Start</label>
            <mz-input-container>
              <input type="text" mz-input formControlName="hour">
            </mz-input-container>
          </div>
        </div>
        <div class="col s3">
          <div class="form-group">
            <label class="field-label">End</label>
            <mz-input-container>
              <input type="text" mz-input formControlName="minute">
            </mz-input-container>
          </div>
        </div>
      </div>
      <h4 class="title-border m-title-border-padding">Additional info</h4>
      <div class="row">
        <div class="col s12">
          <div class="form-group">
            <label class="field-label">Caption</label>
            <mz-input-container>
              <input type="text" mz-input>
            </mz-input-container>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="form-group">
            <label class="field-label">Description</label>
            <mz-input-container>
              <textarea mz-input formControlName="description"></textarea>
            </mz-input-container>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="form-group form-icon">
            <label class="field-label">Web-site</label>
            <mz-input-container>
              <i class="material-icons">public</i>
              <input type="text" mz-input formControlName="website" placeholder="https://...">
            </mz-input-container>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="form-group form-icon">
            <label class="field-label">Add links</label>
            <mz-input-container>
              <i class="material-icons">link</i>
              <input type="text" mz-input formControlName="link" placeholder="https://...">
            </mz-input-container>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="pull-right">
            <button type="button" (click)="createEvent($event)" mz-button>Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
