<h2 class="content-title m-tab-title">Events</h2>

<md-tab-group>
  <md-tab label="Events">
    <div *ngFor="let event of events">
      <div [routerLink]="['/events', event.id, 'info']" class="event">
        <div class="event-img-wrapper">
          <img src="assets/img/events-img.jpg"/>
        </div>
        <div class="event-description-wrapper">
          <h3 class="event-name">{{event.title}}</h3>
          <span class="event-date">{{event.date | date:'yyyy.MM.dd'}}</span>
          <p class="event-description">{{event.description}}</p>
          <i class="event-author">by {{event.author}}</i>
          <div class="event-skills-list" *ngIf="event.sportSkill">
            <div class="event-skill"><img src="{{event.sportSkill?.icon}}">{{event.sportSkill?.name}}</div>
          </div>
        </div>
        <div class="event-info">
          <span class="event-place"><i class="material-icons">location_on</i>{{event.city}}</span>
          <span class="event-time"><i class="material-icons">access_time</i>{{event.time}}</span>
          <span class="event-team"><i class="material-icons">person</i>{{event.people}} participants </span>
          <button type="button" mz-button (click)="addEvent(event.id)">Join</button>
        </div>
      </div>

    </div>
  </md-tab>
</md-tab-group>
