<h2 class="content-title m-tab-title">My events</h2>

<md-tab-group>
  <md-tab label="Recommended events">
    <div class="event">
      <div class="event-img-wrapper">
        <img src="assets/img/events-img.jpg"/>
      </div>
      <div class="event-description-wrapper">
        <h3 class="event-name">Great Bike Ride</h3>
        <span class="event-date">10.08.2017</span>
        <p class="event-description">If you like riding welcome!Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do ...</p>
        <i class="event-author">by Sergiy Ivanenko</i>
        <div class="event-skills-list">
          <div class="event-skill"><i mz-icon-mdi [flip]="'vertical'" [icon]="'gondola'"></i>Bike</div>
          <div class="event-skill"><i mz-icon-mdi [flip]="'vertical'" [icon]="'gondola'"></i>Bike</div>
          <div class="event-skill"><i mz-icon-mdi [flip]="'vertical'" [icon]="'gondola'"></i>Bike</div>
        </div>
      </div>
      <div class="event-info">
        <span class="event-place"><i class="material-icons">location_on</i>Kharkiv</span>
        <span class="event-time"><i class="material-icons">access_time</i>12:00</span>
        <span class="event-team"><i class="material-icons">person</i>10 participants </span>
        <button type="button" mz-button>Join</button>
      </div>
    </div>
    <div class="event">
      <div class="event-img-wrapper">
        <img src="assets/img/events-img.jpg"/>
      </div>
      <div class="event-description-wrapper">
        <h3 class="event-name">Great Bike Ride</h3>
        <span class="event-date">10.08.2017</span>
        <p class="event-description">If you like riding welcome!Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do ...</p>
        <i class="event-author">by Sergiy Ivanenko</i>
        <div class="event-skills-list">
          <div class="event-skill"><i mz-icon-mdi [flip]="'vertical'" [icon]="'gondola'"></i>Bike</div>
          <div class="event-skill"><i mz-icon-mdi [flip]="'vertical'" [icon]="'gondola'"></i>Bike</div>
          <div class="event-skill"><i mz-icon-mdi [flip]="'vertical'" [icon]="'gondola'"></i>Bike</div>
        </div>
      </div>
      <div class="event-info">
        <span class="event-place"><i class="material-icons">location_on</i>Kharkiv</span>
        <span class="event-time"><i class="material-icons">access_time</i>12:00</span>
        <span class="event-team"><i class="material-icons">person</i>10 participants </span>
        <button type="button" mz-button>Join</button>
      </div>
    </div>
    <div class="event">
      <div class="event-img-wrapper">
        <img src="assets/img/events-img.jpg"/>
      </div>
      <div class="event-description-wrapper">
        <h3 class="event-name">Great Bike Ride</h3>
        <span class="event-date">10.08.2017</span>
        <p class="event-description">If you like riding welcome!Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do ...</p>
        <i class="event-author">by Sergiy Ivanenko</i>
        <div class="event-skills-list">
          <div class="event-skill"><i mz-icon-mdi [flip]="'vertical'" [icon]="'gondola'"></i>Bike</div>
          <div class="event-skill"><i mz-icon-mdi [flip]="'vertical'" [icon]="'gondola'"></i>Bike</div>
          <div class="event-skill"><i mz-icon-mdi [flip]="'vertical'" [icon]="'gondola'"></i>Bike</div>
        </div>
      </div>
      <div class="event-info">
        <span class="event-place"><i class="material-icons">location_on</i>Kharkiv</span>
        <span class="event-time"><i class="material-icons">access_time</i>12:00</span>
        <span class="event-team"><i class="material-icons">person</i>10 participants </span>
        <button type="button" mz-button>Join</button>
      </div>
    </div>
  </md-tab>
  <md-tab label="All events">
    <div class="event">
      <div class="event-img-wrapper">
        <img src="assets/img/events-img.jpg"/>
      </div>
      <div class="event-description-wrapper">
        <h3 class="event-name">Great Bike Ride</h3>
        <span class="event-date">10.08.2017</span>
        <p class="event-description">If you like riding welcome!Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do ...</p>
        <i class="event-author">by Sergiy Ivanenko</i>
        <div class="event-skills-list">
          <div class="event-skill"><i mz-icon-mdi [flip]="'vertical'" [icon]="'gondola'"></i>Bike</div>
          <div class="event-skill"><i mz-icon-mdi [flip]="'vertical'" [icon]="'gondola'"></i>Bike</div>
          <div class="event-skill"><i mz-icon-mdi [flip]="'vertical'" [icon]="'gondola'"></i>Bike</div>
        </div>
      </div>
      <div class="event-info">
        <span class="event-place"><i class="material-icons">location_on</i>Kharkiv</span>
        <span class="event-time"><i class="material-icons">access_time</i>12:00</span>
        <span class="event-team"><i class="material-icons">person</i>10 participants </span>
        <button type="button" mz-button>Join</button>
      </div>
    </div>
    <div class="event">
      <div class="event-img-wrapper">
        <img src="assets/img/events-img.jpg"/>
      </div>
      <div class="event-description-wrapper">
        <h3 class="event-name">Great Bike Ride</h3>
        <span class="event-date">10.08.2017</span>
        <p class="event-description">If you like riding welcome!Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do ...</p>
        <i class="event-author">by Sergiy Ivanenko</i>
        <div class="event-skills-list">
          <div class="event-skill"><i mz-icon-mdi [flip]="'vertical'" [icon]="'gondola'"></i>Bike</div>
          <div class="event-skill"><i mz-icon-mdi [flip]="'vertical'" [icon]="'gondola'"></i>Bike</div>
          <div class="event-skill"><i mz-icon-mdi [flip]="'vertical'" [icon]="'gondola'"></i>Bike</div>
        </div>
      </div>
      <div class="event-info">
        <span class="event-place"><i class="material-icons">location_on</i>Kharkiv</span>
        <span class="event-time"><i class="material-icons">access_time</i>12:00</span>
        <span class="event-team"><i class="material-icons">person</i>10 participants </span>
        <button type="button" mz-button>Join</button>
      </div>
    </div>
    <div class="event">
      <div class="event-img-wrapper">
        <img src="assets/img/events-img.jpg"/>
      </div>
      <div class="event-description-wrapper">
        <h3 class="event-name">Great Bike Ride</h3>
        <span class="event-date">10.08.2017</span>
        <p class="event-description">If you like riding welcome!Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do ...</p>
        <i class="event-author">by Sergiy Ivanenko</i>
        <div class="event-skills-list">
          <div class="event-skill"><i mz-icon-mdi [flip]="'vertical'" [icon]="'gondola'"></i>Bike</div>
          <div class="event-skill"><i mz-icon-mdi [flip]="'vertical'" [icon]="'gondola'"></i>Bike</div>
          <div class="event-skill"><i mz-icon-mdi [flip]="'vertical'" [icon]="'gondola'"></i>Bike</div>
        </div>
      </div>
      <div class="event-info">
        <span class="event-place"><i class="material-icons">location_on</i>Kharkiv</span>
        <span class="event-time"><i class="material-icons">access_time</i>12:00</span>
        <span class="event-team"><i class="material-icons">person</i>10 participants </span>
        <button type="button" mz-button>Join</button>
      </div>
    </div>
    <div class="event">
      <div class="event-img-wrapper">
        <img src="assets/img/events-img.jpg"/>
      </div>
      <div class="event-description-wrapper">
        <h3 class="event-name">Great Bike Ride</h3>
        <span class="event-date">10.08.2017</span>
        <p class="event-description">If you like riding welcome!Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do ...</p>
        <i class="event-author">by Sergiy Ivanenko</i>
        <div class="event-skills-list">
          <div class="event-skill"><i mz-icon-mdi [flip]="'vertical'" [icon]="'gondola'"></i>Bike</div>
          <div class="event-skill"><i mz-icon-mdi [flip]="'vertical'" [icon]="'gondola'"></i>Bike</div>
          <div class="event-skill"><i mz-icon-mdi [flip]="'vertical'" [icon]="'gondola'"></i>Bike</div>
        </div>
      </div>
      <div class="event-info">
        <span class="event-place"><i class="material-icons">location_on</i>Kharkiv</span>
        <span class="event-time"><i class="material-icons">access_time</i>12:00</span>
        <span class="event-team"><i class="material-icons">person</i>10 participants </span>
        <button type="button" mz-button>Join</button>
      </div>
    </div>
    <div class="event">
      <div class="event-img-wrapper">
        <img src="assets/img/events-img.jpg"/>
      </div>
      <div class="event-description-wrapper">
        <h3 class="event-name">Great Bike Ride</h3>
        <span class="event-date">10.08.2017</span>
        <p class="event-description">If you like riding welcome!Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do ...</p>
        <i class="event-author">by Sergiy Ivanenko</i>
        <div class="event-skills-list">
          <div class="event-skill"><i mz-icon-mdi [flip]="'vertical'" [icon]="'gondola'"></i>Bike</div>
          <div class="event-skill"><i mz-icon-mdi [flip]="'vertical'" [icon]="'gondola'"></i>Bike</div>
          <div class="event-skill"><i mz-icon-mdi [flip]="'vertical'" [icon]="'gondola'"></i>Bike</div>
        </div>
      </div>
      <div class="event-info">
        <span class="event-place"><i class="material-icons">location_on</i>Kharkiv</span>
        <span class="event-time"><i class="material-icons">access_time</i>12:00</span>
        <span class="event-team"><i class="material-icons">person</i>10 participants </span>
        <button type="button" mz-button>Join</button>
      </div>
    </div>
    <div class="event">
      <div class="event-img-wrapper">
        <img src="assets/img/events-img.jpg"/>
      </div>
      <div class="event-description-wrapper">
        <h3 class="event-name">Great Bike Ride</h3>
        <span class="event-date">10.08.2017</span>
        <p class="event-description">If you like riding welcome!Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do ...</p>
        <i class="event-author">by Sergiy Ivanenko</i>
        <div class="event-skills-list">
          <div class="event-skill"><i mz-icon-mdi [flip]="'vertical'" [icon]="'gondola'"></i>Bike</div>
          <div class="event-skill"><i mz-icon-mdi [flip]="'vertical'" [icon]="'gondola'"></i>Bike</div>
          <div class="event-skill"><i mz-icon-mdi [flip]="'vertical'" [icon]="'gondola'"></i>Bike</div>
        </div>
      </div>
      <div class="event-info">
        <span class="event-place"><i class="material-icons">location_on</i>Kharkiv</span>
        <span class="event-time"><i class="material-icons">access_time</i>12:00</span>
        <span class="event-team"><i class="material-icons">person</i>10 participants </span>
        <button type="button" mz-button>Join</button>
      </div>
    </div>
  </md-tab>

</md-tab-group>
