<h2 class="content-title">People</h2>
<div class="people-wrapper">
  <form>
    <div class="filter-wrapper">
      <div class="filter-form-group">
        <label class="filter-label">Search</label>
        <mz-input-container>
          <input mz-input placeholder="" class="filter-field" type="text">
        </mz-input-container>
      </div>
      <div class="filter-form-group">
        <label class="filter-label">Country</label>
        <mz-input-container>
          <input mz-input placeholder="" class="filter-field" type="text">
        </mz-input-container>
      </div>
      <div class="filter-form-group">
        <label class="filter-label">City</label>
        <mz-input-container>
          <input mz-input placeholder="" class="filter-field" type="text">
        </mz-input-container>
      </div>
    </div>
  </form>
  <md-tab-group>
    <md-tab label="All people">
      <div class="team-content">
        <div class="flex-parent">
          <div *ngFor="let people of people" class="flex-item">
            <div [routerLink]="['/people', people.id, 'events']" class="team">
              <div class="team-img-wrapper">
                <div class="team-control-wrapper">
                  <img src="assets/img/team-img.png">
                  <div class="team-control">
                    <button type="button" (click)="addToFriend(people.id)" class="team-accept"><i class="material-icons">check</i></button>
                  </div>
                </div>
              </div>
              <div class="team-content">
                <button type="button" class="team-name">{{people.name}}</button>
                <span class="team-city"><i class="material-icons">place</i>{{people.city}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </md-tab>
    <md-tab label="My friends">
      <div class="team-content">
        <div class="flex-parent">
          <div *ngFor="let people of peopleFriends" class="flex-item">
            <div [routerLink]="['/people', people.id, 'events']" class="team">
              <div class="team-img-wrapper">
                <div class="team-control-wrapper">
                  <img src="assets/img/team-img.png">
                  <div class="team-control">
                    <button type="button" class="team-delete" (click)="deleteFriend(people.id)"><i class="material-icons">close</i></button>
                  </div>
                </div>
              </div>
              <div class="team-content">
                <button type="button" class="team-name">{{people.name}}</button>
                <span class="team-city"><i class="material-icons">place</i>{{people.city}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </md-tab>
    <md-tab label="Recommended">
      <div class="team-content">
        <div class="flex-parent">
          <div *ngFor="let people of peopleService.people" class="flex-item">
            <div class="team">
              <div class="team-img-wrapper">
                <div class="team-control-wrapper">
                  <img src="assets/img/team-img.png">
                  <div class="team-control m-half-button">
                    <button type="button" class="team-accept"><i class="material-icons">check</i></button>
                    <button type="button" class="team-delete"><i class="material-icons">close</i></button>
                  </div>
                </div>
              </div>
              <div class="team-content">
                <button type="button" class="team-name">{{people.name}}</button>
                <span class="team-city"><i class="material-icons">place</i>{{people.city}}</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </md-tab>
  </md-tab-group>
</div>
