<div class="user-wrapper">
  <div class="user-main-bg-wrapper">
    <img class="user-main-bg" src="assets/img/cover.jpg"/>
  </div>
  <div class="user-content">
    <div class="user-header">
      <div class="user-img-wrapper">
        <img class="user-img" src="assets/img/img-person.png"/>
      </div>
      <div class="user-container">
        <h4 class="user-name">Name Place</h4>
        <div class="user-info">
          <span class="user-date">
          <i class="material-icons">today</i>
            16 august 1984 <b> (31 year old)</b>
          </span>
          <span class="user-city">
           <i class="material-icons">place</i>
            Kharkov
          </span>

        </div>
        <div class="user-skills">
          <ul class="user-skills-list">
            <li>
              <button type="button">
                <i class="material-icons">directions_bike</i>
                Football
              </button>
            </li>
            <li>
              <button type="button">
                <i class="material-icons">directions_bike</i>
                Football
              </button>
            </li>
            <li>
              <button type="button">
                <i class="material-icons">directions_bike</i>
                Football
              </button>
            </li>
            <li>
              <button type="button">
                <i class="material-icons">directions_bike</i>
                Football
              </button>
            </li>
            <li>
              <button type="button">
                <i class="material-icons">directions_bike</i>
                Football
              </button>
            </li>
            <li>
              <button type="button">
                <i class="material-icons">directions_bike</i>
                Football
              </button>
            </li>
          </ul>
        </div>

      </div>
      <div class="profile-info-wrapper">
        <button type="button" class="profile-info-item" [routerLink]="['/places/page/info']">
          <span class="profile-info-number">
            11
          </span>
          <span class="profile-info-name">
            Info
          </span>
        </button>
        <button type="button" class="profile-info-item" [routerLink]="['/places/page/people']">
          <span class="profile-info-number">
            23
          </span>
          <span class="profile-info-name">
            People
          </span>
        </button>
        <button type="button" class="profile-info-item" [routerLink]="['/places/page/contact']">
          <span class="profile-info-number">
            08
          </span>
          <span class="profile-info-name">
            Contact
          </span>
        </button>
        <button type="button" class="profile-info-item" [routerLink]="['/places/page/photos']">
          <span class="profile-info-number">
            44
          </span>
          <span class="profile-info-name">
            Photo
          </span>
        </button>
      </div>
    </div>
    <div class="user-router-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>



