<div class="user-wrapper">
  <div class="user-main-bg-wrapper">
    <img class="user-main-bg" *ngIf="!currentEvent.eventBg?.img" src="assets/img/event.jpg"/>
    <img class="user-main-bg" *ngIf="currentEvent.eventBg?.img" src="{{currentEvent.eventBg?.img}}"/>
  </div>
  <div class="user-content">
    <div class="user-header">
      <div class="user-img-wrapper">
        <div class="user-img-inner">
          <img class="user-img" src="{{currentEvent.sportSkill?.img}}"/>
        </div>
      </div>
      <div class="user-container">
        <h4 class="user-name">{{currentEvent.title}}</h4>
        <div class="user-info">
          <span class="user-date">
          <i class="material-icons">today</i>
         {{currentEvent.date | date:'yyyy.MM.dd'}} <span>{{currentEvent.hour}}:{{currentEvent.minute}}</span>
          </span>
          <span class="user-city">
           <i class="material-icons">place</i>
            {{currentEvent.city}}
          </span>
          <button type="button" class="flex-pull-right" mz-button *ngIf="!currentEvent.join"
                  (click)="addEvent(currentEvent.id)">Join
          </button>
          <button type="button" class="flex-pull-right delete-color" *ngIf="currentEvent.join" mz-button
                  (click)="exitEvent(currentEvent.id)">Exit
          </button>
        </div>
        <div class="user-skills">
          <ul class="user-skills-list">
            <li>
              <button type="button">
                <img src="{{currentEvent.sportSkill?.icon}}">
                {{currentEvent.sportSkill?.name}}
              </button>
            </li>
          </ul>
        </div>

      </div>
      <div class="profile-info-wrapper">
        <button type="button" class="profile-info-item" [routerLink]="['/events/chat']">
          <span class="profile-info-number m-profile-info-number">
            <i class="material-icons">info_outline</i>
          </span>
          <span class="profile-info-name">
            Chat
          </span>
        </button>
        <button type="button" class="profile-info-item" [routerLink]="['/events', currentEvent.id,'info']">
          <span class="profile-info-number m-profile-info-number">
            <i class="material-icons">info_outline</i>
          </span>
          <span class="profile-info-name">
            Info
          </span>
        </button>
        <button type="button" class="profile-info-item" [routerLink]="['/events', currentEvent.id, 'people']">
          <span class="profile-info-number m-profile-info-number">
            <i class="material-icons">people</i>
          </span>
          <span class="profile-info-name">
            People
          </span>
        </button>
        <button type="button" class="profile-info-item" [routerLink]="['/events', currentEvent.id, 'contact']">
          <span class="profile-info-number m-profile-info-number">
            <i class="material-icons">place</i>
          </span>
          <span class="profile-info-name">
            Contact
          </span>
        </button>
        <button type="button" class="profile-info-item" [routerLink]="['/events', currentEvent.id, 'photo']">
          <span class="profile-info-number m-profile-info-number">
           <i class="material-icons">photo_camera</i>
          </span>
          <span class="profile-info-name">
            Photo
          </span>
        </button>
      </div>
    </div>
    <div class="user-router-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>



