<div class="contact-wrapper">
  <h2 class="inner-title">Contact</h2>
  <div class="row">
    <div class="col s4">
      <div class="contact-item">
        <i class="material-icons">phone_iphone</i>
        <div class="contact-inner">
          <h4 class="contact-title">Call us</h4>
          <p>+38095 68 77 791</p>
        </div>
      </div>
      <div class="contact-item">
        <i class="material-icons">place</i>
        <div class="contact-inner">
          <h4 class="contact-title">Address</h4>
          <p>Sumskaya 11, Kharkiv
            Ukraine</p>
        </div>
      </div>
      <div class="contact-item">
        <i class="material-icons">mail_outline</i>
        <div class="contact-inner">
          <h4 class="contact-title">Email</h4>
          <p><a href="">event@gmail.com</a></p>
        </div>
      </div>
    </div>
    <div class="col s8">
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
  </div>
</div>
