<aside class="aside blue-grey darken-3">
  <ul class="navigation">
    <li>
      <a [routerLink]="['/user']">Profile</a>
    </li>
    <li>
      <a [routerLink]="['/lessons']">Lessons</a>
    </li>
    <li>
      <a [routerLink]="['/todo-list']">Todo list</a>
    </li>
  </ul>
</aside>
<div class="content">
  <mz-navbar [navbarClass]="'light-blue darken-4'">
    <mz-navbar-item-container [align]="'right'">
      <mz-navbar-item><a routerLink="/login">Exit</a></mz-navbar-item>
    </mz-navbar-item-container>
  </mz-navbar>
  <div class="content-inner">
    <router-outlet></router-outlet>
  </div>


</div>
