<form [formGroup]="UserForm">
  <div class="container-bg">
    <div class="row">
      <div class="col s2 field-label-wrapper">
        <label class="field-label">First Name</label>
      </div>
      <mz-input-container class="col s10">
        <input formControlName="firstName" type="text" mz-input>
      </mz-input-container>
    </div>
    <div class="row">
      <div class="col s2 field-label-wrapper">
        <label class="field-label">Last Name</label>
      </div>
      <mz-input-container class="col s10">
        <input formControlName="lastName" type="text" mz-input>
      </mz-input-container>
    </div>
    <div class="row">
      <div class="col s2 field-label-wrapper">
        <label class="field-label">Age</label>
      </div>
      <mz-input-container class="col s10">
        <input type="number" mz-input>
      </mz-input-container>
    </div>
    <div class="row">
      <div class="col s2 field-label-wrapper">
        <label class="field-label">City</label>
      </div>
      <mz-input-container class="col s10">
        <input type="text" mz-input>
      </mz-input-container>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="pull-right">
          <button type="button" (click)="update()" mz-button>Update</button>
        </div>
      </div>
    </div>
  </div>

</form>
