<form [formGroup]="UserForm">
  <div class="row">
    <mz-input-container class="col s8">
      <input formControlName="firstName" type="text" mz-input [label]="'First Name'">
    </mz-input-container>
    <mz-input-container class="col s8">
      <input formControlName="lastName" type="text" mz-input [label]="'Last Name'">
    </mz-input-container>
    <mz-input-container class="col s8">
      <input type="number" mz-input [label]="'age'">
    </mz-input-container>
    <mz-input-container class="col s8">
      <input type="text" mz-input [label]="'City'">
    </mz-input-container>
    <div class="col s8">
      <button type="button" (click)="viewUser()" mz-button>Update</button>
    </div>
    <p>{{firstName}}</p>
    <p>{{lastName}}</p>
  </div>

</form>
