.aside {
  width: 440px;
  float: left;
  height: 100vh;
  background: #fff;
  padding: 0 0 60px 0;
  border-right: 1px solid #dadada;
  color: #555;
  &-header {
    padding: 0 20px;
  }
  &-profile {
    padding-top: 10px;
    padding-left: 120px;
    position: relative;
    min-height: 100px;
    margin-top: -73px;
    z-index: 2;
    span {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      i {
        margin-right: 5px;
      }
      b {
        margin: 0 4px;
      }
    }
    &-bg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      &-wrapper {
        margin: 0 -35px;
        overflow: hidden;
        position: relative;
        height: 240px;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background: linear-gradient(transparent 50%, rgba(0, 0, 0, 0.73));
          z-index: 1;
        }
      }
    }
  }
  &-content {
    padding: 20px;
  }
}

.aside-skills {
  margin-bottom: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #dadada;
}

.skill-item {
  i.mdi:before {
    font-size: 18px;
    color: #6c6c6c;
    margin-right: 5px;
  }
}

.skills-content {
  padding: 0 9px;
}

.skill-list {
  display: flex;
  margin: 0;
  flex-wrap: wrap;
}

.skill-item {
  margin-bottom: 7px;
  margin-right: 5px;
  button {
    border: none;
    background: transparent;
    color: #252525;
    padding: 2px 3px;
  }
}

.aside-title-wrapper {
  padding: 0 15px;
}

.aside-title {
  margin: 0 0 15px 0;
  font-size: 18px;
  font-weight: 600;
  color: #1B2431;
}

.aside-profile-info {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dadada;
}

.navigation a {
  color: #fff;
  font-size: 16px;
  transition: all 0.3s;
  display: block;
  padding: 0 20px;
}

.navigation a {
  &:hover,
  &.active {
    background: #F5F5F5;
    color: #454545;
  }
}
