.contact-wrapper {
  .row {
    margin: 0 -0.75rem;
  }
}

.contact-item {
  position: relative;
  .material-icons {
    position: absolute;
    font-size: 21px;
  }
}

.contact-inner {
  padding-left: 40px;
  margin-bottom: 35px;
  font-size: 14px;
  color: #6c6c6c;
}

.contact-title {
  margin-bottom: 15px;
}

agm-map {
  width: 100%;
  height: 400px;
}
