.content {
  margin-left: 360px;
  background: #fafafa;
  height: 100vh;
  min-height: 620px;
  overflow-y: auto;
}

.content-inner {
  padding: 40px  20px;
  max-width: 1520px;
  margin: 0 auto;
}

.content-title {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 30px;
}
