.event {
  color: #969696;
  display: flex;
  font-size: 14px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dfdede;
  margin-bottom: 20px;
  outline: none;
  &-name {
    font-size: 25px;
    color: #252525;
    margin-bottom: 15px;
  }
  &-date {
    font-size: 16px;
    color: #252525;
    margin-bottom: 15px;
    display: block;
  }
  &-description {
    margin-bottom: 15px;
    &-wrapper {
      width: 63%;
    }
  }
  &-author {
    font-style: italic;
    display: block;
    margin-bottom: 20px;
  }
  &-info {
    margin: auto;
    width: 20%;
    padding-right: 30px;
    span {
      display: flex;
      align-items: center;
      margin-bottom: 18px;
      i {
        margin-right: 18px;
        font-size: 18px;
      }
    }
  }
  &-img-wrapper {
    margin-right: 5%;
    position: relative;
    height: 163px;
    width: 163px;
    overflow: hidden;
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &-skills-list {
    display: flex;
    flex-wrap: wrap;
  }
  &-skill {
    border: 1px solid  #6c6c6c;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    margin-right: 10px;
    img {
      width: 18px;
      margin-right: 12px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
