.field-wrapper {
  margin-bottom: 20px;
  .field {
    width: 100%;
    padding: 5px 10px;
    font-size: 13px;
    border: 1px solid #ccc;
    color: #454545;
    background: #FFF;
    border-radius: 3px;
    box-shadow: none;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    height: 40px;
    margin: 0;
    &:focus:not([readonly]) {
      border: 1px solid #00C853;
      box-shadow: none;
    }
  }
}
