.field-wrapper {
  margin-bottom: 20px;
  label {
    font-size: 13px;
  }
  .field {
    width: 100%;
    padding: 5px 10px;
    font-size: 13px;
    border: 1px solid #ccc;
    color: #454545;
    background: #FFF;
    border-radius: 3px;
    box-shadow: none;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    height: 40px;
    margin: 5px 0 0 0;
    &:focus:not([readonly]) {
      border: 1px solid #00C853;
      box-shadow: none;
    }
  }
}

.input-field {
  margin: 0;
  position: static;
  input {
    height: 36px;
    margin: 0;
    border: none;
    font-size: 14px;
    color: #252525;
    padding: 0;
    &:focus:not([readonly]) {
      border: none;
      box-shadow: none;
    }
  }
}

.select-wrapper {
  position: static;
}

.select-wrapper input.select-dropdown {
  border: none;
  margin: 0;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
}

.field-label {
  color: #252525;
  &-wrapper {
    height: 36px;
    display: flex;
    align-items: center;
    font-size: 14px;
  }
}

.form-group {
  background-color: #fff;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 2px;
  padding-top: 7px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
  margin-bottom: 20px;
  transition: all 0.3s;
  &.focused {
    border-color: rgba(0,0,0,0.1)!important;
    background-color: #f0f0f0;
    label {
      opacity: 0.4;
    }
  }
  input {
    border: none;
    line-height: 36px;
    height: 36px;
    &:focus {
      border: none !important;
      box-shadow: none !important;
    }
  }
  label {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.3s;
  }
  .dropdown-content {
    top: 100% !important;
    left: 0 !important;
    width: 100% !important;
    box-shadow: 0 4px 5px rgba(0,0,0,0.15);
     li > a, li > span {
       padding: 6px 12px;
       font-size: 14px;
       line-height: 30px;
       color: #626262;
     }
    &.select-dropdown li.optgroup ~ li.optgroup-option {
      padding: 0;
      min-height: 30px;
    }
    li.selected {
      background: #e5e5e5;
    }
  }
  .optgroup {
    display: none;
  }
  textarea {
    border: none;
    min-height: 100px;
    padding: 0;
    line-height: 24px;
    margin-top: 7px;
    &:focus {
      outline: none;
    }
  }
  &.form-icon {
    .input-field {
      position: relative;
      i {
        position: absolute;
        color: #000;
        font-size: 18px;
        top: 50%;
        transform: translate(0, -50%)
      }
      input {
        padding-left: 25px;
      }
    }
  }
}

.form-datepicker {
  position: relative;
  input {
    margin: 0;
    padding-right: 25px;
  }
  button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 16px;
  }

}

