@font-face {
  font-family:'UniSansHeavyCAPS';
  src: url('/../../assets/fonts/UniHeavy/UniSansHeavyCAPS.eot');
  src: url('/../../assets/fonts/UniHeavy/UniSansHeavyCAPS.eot?#iefix') format('embedded-opentype'),
  url('/../../assets/fonts/UniHeavy/UniSansHeavyCAPS.woff2') format('woff2'),
  url('/../../assets/fonts/UniHeavy/UniSansHeavyCAPS.woff') format('woff'),
  url('/../../assets/fonts/UniHeavy/UniSansHeavyCAPS.svg#UniSansHeavyCAPS') format('svg');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}
