.auth-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #6d5cae;
  &.registration-bg {
    background: #1fefdb;
  }
  img {
    height: 100%;
    opacity: 0.9;
  }
}

.auth-info {
  position: absolute;
  left: 20px;
  bottom: 30px;
  color: #fff;
  max-width: 450px;
  h2 {
    font-size: 31px;
    line-height: 40px;
    font-weight: 300;
    margin-bottom: 15px;
  }
  p {
    font-size: 12px;
  }
}

.login-wrapper {
  width: 500px;
  background: #FFF;
  zoom: 1;
  box-shadow: 0 4px 20px 5px rgba(0, 0, 0, .05);
  float: right;
  height: 100vh;
  min-height: 500px;
  position: relative;
  .login-icon {
    border: 1px solid #DBE0E4;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 15px;
    &:before {
      font-size: 76px !important;
      line-height: 76px;
      color: #DBE0E4;
    }
  }
}

.form-header {
  text-align: left;
  padding: 90px 60px 0;
  h3 {
    font-size: 21px;
    font-weight: 700;
    color: #1B2431;
    margin-bottom: 30px;
  }
  p {
    font-size: 16px;
    color: #7F8FA4;
    text-align: left;
    font-weight: 300;
  }
}

.form-container {
  padding: 20px 60px;
  .btn {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 3px;
  }
}

.form-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fafafa;
  padding: 15px 30px;
  text-align: center;
  border-radius: 0 0 5px 5px;
  p {
    margin: 0;
    display: inline-block;
  }
}
