* {
  box-sizing: border-box !important;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

body {
  font-family: 'Roboto', sans-serif;
}

button {
  box-shadow: none;
  background: transparent;
  border: none;
}

.btn {
  border-radius: 8px;
  background: #66c33f;
  &:hover,
  &:focus{
    background: lighten(#66c33f,15%);
  }
}

.login-wrapper {
  .btn:disabled {
    background: rgba(3, 169, 244, 0.5) !important;
    color: #fff !important;
    min-height: 40px;
  }
}

.alert {
  color: #f4315a;
  font-size: 13px;
  margin-top: 3px;
}

.yellow.darken-1 {
  color: #1a1a1a;
}

.pull-right {
  float: right;
}
