* {
  box-sizing: border-box !important;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

body {
  font-family: 'Roboto', sans-serif;
}

b {
  font-weight: 700;
}


textarea {
  resize: none;
}
button {
  box-shadow: none;
  background: transparent;
  border: none;
  padding: 0;
  &:focus {
    background: transparent;
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.alert {
  font-size: 12px;
  margin-top: -7px;
  margin-bottom: 11px;
}

.flex-pull-right {
  margin-left: auto;
}

.btn {
  border-radius: 3px;
  background: #66c33f;
  text-transform: inherit;
  font-weight: 300;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  padding: 0 22px;
  box-shadow: none;
  &:hover,
  &:focus{
    background: lighten(#66c33f,15%);
  }
  &.button-color {
    background: #3776f4;
  }
}

.login-wrapper {
  .btn:disabled {
    background: rgba(3, 169, 244, 0.5) !important;
    color: #fff !important;
    min-height: 36px;
  }
}

.alert {
  color: #f4315a;
  font-size: 13px;
  margin-top: 3px;
}

.yellow.darken-1 {
  color: #1a1a1a;
}

.pull-right {
  float: right;
}

.material-icons {
  color: #6c6c6c;
}

.delete-color {
  background: transparent;
  border: 1px solid #e64d78;
  color: #e64d78;
  &:hover {
    background: lighten(#e64d78,15%);
    color: #fff;
  }
}


.margin-left{
  margin-left: 20px;
}
