@media (max-width: 1920px) {
  max-width: 1100px;
}

@media (max-width: 1680px) {
  .logo {
    width: 75px;
    margin: 19px 20px 0 20px;
  }
  .navigation-search-wrapper {
    margin-left: 35px;
  }
  input[type="search"].navigation-search {
    width: 285px;
  }
  .nav-element {
    padding: 0 8px;
  }
  .nav-exit {
    padding: 0 18px 0 8px;
    font-size: 13px;
  }
  .user-content {
    max-width: 940px;
  }
  .user-img-inner,
  .user-img-wrapper img {
    height: 138px;
  }
  .user-img-wrapper {
    width: 146px;
  }
  .user-header {
    padding-left: 170px;
  }
  .user-name {
    font-size: 21px;
  }
  .user-info {
    font-size: 14px;
  }
  .people-wrapper .team-img-wrapper img {
    width: 100%;
  }
  .team-city {
    font-size: 13px;
  }
  .navigation a {
    font-size: 14px;
    padding: 0 20px;
  }
  .place-description {
    padding: 10px;
    font-size: 13px;
  }
  .user-router-container {

    .event-info {
      font-size: 12px;
    }
    .event-description {
      max-height: 36px;
      overflow: hidden;
    }
    .event-name {
      font-size: 18px;
      margin-bottom: 10px;
    }
    .event-date {
      font-size: 13px;
      margin-bottom: 10px;
    }
    .event-author {
      margin-bottom: 18px;
      font-size: 13px;
    }
    .event-skill {
      padding: 5px 12px;
      font-size: 12px;
    }
    .photo-img-wrapper {
      height: 160px;
    }
  }
  .content-title,
  .title-wrapper {
    font-size: 21px;
    margin-bottom: 20px;
  }

  .logo-invert {
    margin-bottom: 20px;
    width: 100px;
  }
  .form-header {
    padding: 50px 30px 0;
  }
  .login-share {
    margin-bottom: 20px;
  }
  .statistic-title {
    font-size: 18px;
  }
  .statistic-number {
    font-size: 16px;
  }
  .login-statistic {
    margin-bottom: 12px;
    padding-bottom: 12px;
  }
  .form-group input {
    line-height: 30px;
    height: 30px;
  }
  .form-header h3 {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .form-header p {
    font-size: 14px;
  }
  .form-footer {
    padding: 10px 30px;
    font-size: 14px;
  }
  .content-inner {
    padding: 20px;
  }
  .user-main-bg-wrapper {
    height: 190px;
    overflow: hidden;
    border-radius: 4px;
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@media (max-width: 1560px) {
  .aside {
    width: 280px;
  }

  .profile-wrapper {
    padding: 0 0 15px;
  }

  .aside-profile-bg-wrapper {
    margin: 0 -15px;
  }

  .aside-profile-bg-wrapper {
    height: 160px;
  }

  .profile-img {
    width: 50px;
  }

  .aside-profile {
    padding-left: 70px;
    min-height: 60px;
  }
  .aside .profile-info-item span {
    font-size: 12px;
  }


  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 48px;
    line-height: 48px;
  }
  .navigation-search-button i {
    height: 28px !important;
    line-height: 28px !important;
  }

  .navigation-search-button {
    top: 10px;
    height: 30px;
  }

  .logo {
    width: 65px;
    margin: 13px 20px 0 20px;
  }

  .mdi-24px.mdi-set, .mdi-24px.mdi:before {
    font-size: 21px;
  }

  input[type="search"].navigation-search {
    width: 260px;
    font-size: 12px;
    height: 28px;
  }

  .user-img-wrapper {
    width: 118px;
  }
  .user-img-inner, .user-img-wrapper img {
    height: 110px;
  }
  .user-header {
    padding-left: 140px;
    padding-top: 5px;
  }
  .user-name {
    font-size: 18px;
    margin-bottom: 5px;
    min-height: 21px;
  }
  .user-info {
    margin-bottom: 10px;
  }
  .user-content {
    margin: -70px auto 0;
    padding: 0 20px;
  }

  .user-skills-list {
    margin-bottom: 25px;
  }
  .btn {
    height: 28px;
    line-height: 28px;
    font-size: 13px;
    min-height: 28px !important;
  }
  .user-router-container {
    margin-top: 20px;
  }
  .profile-info-item {
    font-size: 12px;
  }
  .profile-info-number {
    font-size: 21px;
  }
  .user-skills-list button {
    font-size: 13px;
  }
  .group-container {
    p {
      font-size: 12px;
      line-height: 15px;
    }
  }
  .event {
    font-size: 12px;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }
  .event-img-wrapper {
    margin-right: 3%;
    height: 120px;
    width: 120px;
  }
  .event-info span {
    margin-bottom: 10px;
  }
  .event-name {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .event-date {
    font-size: 13px;
    margin-bottom: 6px;
  }
  .event-description {
    margin-bottom: 8px;
  }
  .event-author {
    font-size: 11px;
  }
  nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    font-size: 20px;
  }

  .menu-trigger {
    width: 15px;
    height: 12px;
    margin-top: 9px;
  }

  .menu-trigger span:nth-of-type(2) {
    top: 5px;
  }

  .menu-wrapper .btn {
    padding: 0 8px;
    height: 31px;
  }


}

@media (max-width: 1366px) {
  .flex-item {
    width: 11%;
  }
  .team-name {
    font-size: 13px;
  }
}
