/*.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #EDEFF0;
  min-height: 700px;
}*/

.container-bg {
  max-width: 1200px;
  margin: 0 auto 20px;
  padding: 30px 20px;
}

.title-wrapper {
  margin-bottom: 30px;
  .content-title {
    margin: 0;
    display: inline-block;
  }
}
