.photo {
  &-img-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
  }
  &-img {
    position: absolute;
    left: 50%;
    right: 0;
    top: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  &-wrapper {

    .row {
      margin: 0 -0.75rem;
    }
  }
}

