.place {
  &-item {
    padding: 3px;
    background: #fff;
    border: 1px solid #dadada;
    margin-bottom: 20px;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      background: #eee;
      .place-img {
        img {
          transform: scale(1.03);
        }
      }
    }
  }
  &-wrapper {
    margin: 0 -0.75rem;
  }
  &-description {
    padding: 15px;
    color: #454545;
    .place-city {
      float: left;
      display: flex;
      align-items: center;
      i {
        font-size: 18px;
        margin-right: 5px;
        color: #454545;
      }
    }
    .place-date {
      float: right;
    }
  }
  &-info {
    margin-bottom: 7px;
  }
  &-img {
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: linear-gradient(transparent 50%, rgba(0, 0, 0, 0.95));
      opacity: 0;
      z-index: 1;
      transition: all 0.3s;
    }
    &:hover {
      &:after {
        background: linear-gradient(transparent 50%, rgba(0, 0, 0, 0.95));
        opacity: 1;
      }
      button {
        opacity: 1;
      }
    }
    img {
      display: block;
      width: 100%;
      transition: .3s ease-in-out;
    }
    button {
      position: absolute;
      z-index: 2;
      right: 10px;
      bottom: 10px;
      font-size: 12px;
      height: 30px;
      line-height: 28px;
      padding: 0 15px;
      opacity: 0;
      transition: all 0.3s;
    }

  }
}
