.mat-tab-labels {
  border-bottom: 2px solid #dadada;
  position: relative;
  z-index: 1;
  .mat-tab-label[_ngcontent-c5] {
    padding: 0 18px;
    min-width: inherit;
    height: 40px;
    text-align: left;
    line-height: 40px;
  }
  .mat-tab-label[_ngcontent-c5]:focus {
    min-width: inherit;
  }

}

.mat-tab-list {
  margin-bottom: 20px;
  .mat-ink-bar {
    background: #48b5e7;
    z-index: 2;
    top: calc(100% - 2px);
  }
}

.mat-tab-body-wrapper {
  margin: 0 -0.75rem;
}


