<div class="user-wrapper">
  <div class="user-main-bg-wrapper">
    <img class="user-main-bg" src="assets/img/cover.jpg"/>
  </div>
  <div class="user-content">
    <div class="user-header">
      <div class="user-img-wrapper">
        <div class="user-img-inner">
          <img class="user-img" src="assets/img/team-img.png"/>
        </div>
      </div>
      <div class="user-container">
        <h4 class="user-name">{{currentPeople.name}}</h4>
        <div class="user-info">
          <span class="user-date">
          <i class="material-icons">today</i>
            16 august 1984
          </span>
          <span class="user-city">
           <i class="material-icons">place</i>
            {{currentPeople.city}}
          </span>
          <button type="button" class="flex-pull-right" mz-button *ngIf="!currentPeople.isFriend"
                  (click)="addToFriend(currentPeople.id)">Add to friends
          </button>
          <button type="button" class="flex-pull-right delete-color" *ngIf="currentPeople.isFriend" mz-button
                  (click)="deleteFriend(currentPeople.id)">Remove
          </button>
        </div>
        <div class="user-skills">
          <ul class="user-skills-list">
            <li>
              <button type="button">
                <i class="material-icons">directions_bike</i>
                Football
              </button>
            </li>
            <li>
              <button type="button">
                <i class="material-icons">directions_bike</i>
                Football
              </button>
            </li>
            <li>
              <button type="button">
                <i class="material-icons">directions_bike</i>
                Football
              </button>
            </li>
            <li>
              <button type="button">
                <i class="material-icons">directions_bike</i>
                Football
              </button>
            </li>
            <li>
              <button type="button">
                <i class="material-icons">directions_bike</i>
                Football
              </button>
            </li>
            <li>
              <button type="button">
                <i class="material-icons">directions_bike</i>
                Football
              </button>
            </li>
          </ul>
        </div>

      </div>
      <div class="profile-info-wrapper">
        <button type="button" class="profile-info-item" [routerLink]="['/people/chat']">
          <span class="profile-info-number">
            11
          </span>
          <span class="profile-info-name">
            Chat
          </span>
        </button>
        <button type="button" class="profile-info-item" [routerLink]="['/people', currentPeople.id, 'friends']">
          <span class="profile-info-number">
            11
          </span>
          <span class="profile-info-name">
            Friends
          </span>
        </button>
        <button type="button" class="profile-info-item" [routerLink]="['/people', currentPeople.id, 'places']">
          <span class="profile-info-number">
            23
          </span>
          <span class="profile-info-name">
            Places
          </span>
        </button>
        <button type="button" class="profile-info-item" [routerLink]="['/people', currentPeople.id, 'events']">
          <span class="profile-info-number">
            08
          </span>
          <span class="profile-info-name">
            Events
          </span>
        </button>
        <button type="button" class="profile-info-item" [routerLink]="['/people', currentPeople.id, 'photos']">
          <span class="profile-info-number">
            44
          </span>
          <span class="profile-info-name">
            Photo
          </span>
        </button>
      </div>
    </div>
    <div class="user-router-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>



